@import "../config/variables";
@import "../config/mixins";

.l-page {
	max-width: $screen-lg;
	margin-left: auto;	
	margin-right: auto;	
	padding-left: $grid-gap;
	padding-right: $grid-gap;
}

.l-blog--header {
	margin-top: $h3;
	@include card;
}