.o-blog-header {
	border-bottom: 2px solid $accent-med;
	padding-top: $h2;
	margin-bottom: $h2;
	
	@supports( display: grid ) {
		display: grid;

		&.-fancy {
			@supports( writing-mode: sideways-lr ) {
				grid-template-columns: minmax(min-content, max-content) 1fr;
			}
			
			@include bp(med) {
				grid-template-columns: 1fr 2fr;
			}
		}
	}

}

.o-blog-header__title {
	margin-top: $base;
	
	.-fancy & {
		@supports( writing-mode: sideways-lr ) {
			display: flex;
			text-align: right;
			padding-right: $grid-gap;
			writing-mode: sideways-lr;
			margin-left: auto;

			&::before {
				content: '';
				flex: 1;
				background-color: $accent-med;
				width: 2px;
				margin-left: auto;
				margin-top: auto;
				margin-right: auto;
				writing-mode: sideways-lr;
			}
		}
	}
}

.o-blog-header__content {
	@include bp(med) {
		padding-left: $grid-gap;
		padding-right: $grid-gap;
	}

	padding-bottom: $h3;
}

.o-tease-loop {
	@include unstyle-list;

	margin-left: auto;
	@include bp(med) {
		display: flex;
		justify-content: space-between;

		@supports( display: grid ) {
			display: grid;
			grid-gap: 20px;
		}
	}
}

.o-tease {
	margin-bottom: 20px;

	@supports( display: grid ) {
		display: grid;
	}

	@include bp(med) {	
		flex-basis: calc( 50% - 10px );
		
		@supports( display: grid ) {
			grid-template-columns: 1fr 2fr;
			margin-bottom: initial;
		}
	}
}

.o-tease--blog {
	align-items: center;
	margin-bottom: $grid-gap;

	@include bp(med) {	
		grid-gap: $grid-gap;
		grid-template-columns: minmax(300px, 50%) calc( 1fr + #{$grid-gap - (1/16)} );
	}

	.o-tease-thumb {
		position: relative;
		z-index: 2;	
	}

	.o-tease-thumb img,
	.o-tease-thumb svg {
		border: 1px solid $accent-light;
	}

	.tease-title {
		font-size: $h4;

		a {
			border-bottom: 1px solid $accent-light;

			&:hover {
				border-color: $accent-med;
			}
		}
	}

	.o-tease-content {
		
		@include bp(med) {	
			transform: translateX( calc( #{-$grid-gap} ) );
			width: calc( 100% + #{$grid-gap} );
			grid-column: 2;
		}
	}
	
	.o-tease-content--card {
		@include card( $border-top: false );
		margin-bottom: 0;
	}

}


.o-tease-header > span {
	display: inline-block;
	flex-direction: column;
	
	@include bp(med) {	
		border-right: 2px solid $accent-med;
		transform: translateX(2px);
	}
}

.o-tease-thumb img {
	@include bp(med) {
		// border-left: 2px solid $accent-med;
	}
}


// Oops, these are now components!!

.o-tease--sticky .c-tease-title {
	font-size: calc( #{$sml} + 1vw );
}

.c-header-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.c-more-arrow {
	color: $accent-med;
	display: inline-flex;

	a:hover + & {
		animation: arrow-pulse 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1;
		@at-root {
			@keyframes arrow-pulse {
				0% {
					transform: translateX(0);
				}

				50% {
					transform: translateX(-2px);
				}
				
				100% {
					transform: translateX(2px);
				}
			}
		}
	}
}