.u-upperspace {
	@include upperspace;
}

.u-margin-t-0 {
	margin-top: 0;
}

.u-sticky-100\@med {
	@include bp(med) {
		@supports( position: sticky ) {
			position: sticky;
			top: 100px;
		}
	}
}

.u-display-contents {
	@supports( display: contents ) {
		display: contents;
	}
}

.u-border-bottom-0 {
	border-bottom: 0;
}

.u-max-width-text {
	max-width: 700px;
}

.u-width-100p {
	width: 100%;
}

.u-order-2\@until-med {
	@supports( display: grid ) {
		order: 2;
		
		@include bp(med) {	
			order: initial;
		}
	}
}

.u-card {
	border: 1px solid $accent-light;
	background-color: $white;
	padding: $grid-gap;
}

.u-border-b-0\@until-med {
	border-bottom-width: 0;

	@include bp(med) {
		border-bottom-width: 1px;
	}
}

.u-border-l-2-blue\@med {
	@include bp(med) {	
		border-left: 2px solid $accent-light;
	}
}