// Adding hover styles

a {
    &:hover {
        color: $link-hover;
    }

}

.home-quote {
    margin: 0 $h1*3;
}

.site-title {
    margin: 0;
    font-size: $h2;
}

.site-desc {
    //font-family: 'effra-1', sans-serif;  
}


// TODO: clean this up!

a.menu-link {
   display: none;
}

.js nav[role=navigation] {
    max-height: none;
}

nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
}

nav[role=navigation]  li {
    display: inline-block;
    margin: 0 0.25em;
}

nav[role=navigation] li a {
    border: 0;
}



// Content 

.zinger {
    // background-position: top right;
    // background-repeat: no-repeat;
    // background-image: url("../img/pixels-corner-r.png");
//    padding: $h1 0;

    h2 {
        font-size: $h1;
    }
}

.illustration {
    background-image: url('../img/water.png');
}

.subsection-title {
    font-size: $h1;
}
