

.block_list {
	margin-bottom: $h2;
}



// ----
// General Lists
// ----

.list {
	@include unstyle-list();
	
	& > li {
		margin-top: $xsml;
	}
}

	.list-title {}

	
	// Minor lists are 1 across, image on the left
	
	.list-major li {
		@include clearfix();

		img {
			width: 100%;
		}

		@include bp(med) {
			@include make-row();
		}
		
		.item-main {
			@include make-md-column($c/2);
		}

		.item-support {
			@include make-md-column($c/2);
		}

	}

	.list-features li {
		border-bottom: $accent-border;
		padding-bottom: $h3;
		padding-top: $h3;
	}

	// Minor lists are more across

	.list-minor {

		&.list-3 > li {
			@include make-xs-column($c);
			@include make-md-column($c/3, false);

			@include bp(med) {
				&:nth-child(3n+1){
					clear: left;
				}  
		    }  
		}

		&.list-2 > li,
		&.list-4 > li {
			@include make-xs-column($c);
			@include make-md-column($c/2, false);

			@include bp(med) {
		        &:nth-child(2n+1){
		            clear: left;
		        }  
		    }
		}
	}



// ----
// List items
// ----

.item-support {

	img {	
		@include center-block;
	}

	.list-minor & {
		img {
			padding: $base 25%; 

			@include bp(small) {
				padding: 0;
			}
		}
	}
	
	padding-right: $gutter/2;	
	
}

.item-main {
	
	// .list-major & {
	// 	@include make-md-column(2);
	// }

	.list-minor & {
		h5 {
			margin-top: 0;
		}

		p {
			margin-top: $xsml;

		}
	}
	
	p, li {
		// font-family: $sans-serif;			
		@include bp(small) {
			// @include font-size(med);	
			// font-size: $sml;
		}
	}
}



