
figure {
	// margin: 0;

	img {
		@extend .aligncenter;
	}
}

.caption {}

	img.caption-image {
		border-top: $accent-border;
	}

.textimage-para {
	@include bp(med) {
		width: 110%;
	}
}

	.para-img {
		@include make-sm-column($c * 1/2);
		padding-bottom: $base;
		@include bp(med) {
			padding-bottom: 0;
		}
	}