

.block_list {
	margin-bottom: $h2;
}



// ----
// General Lists
// ----

.list {
	@include unstyle-list();
	
	& > li {
		// margin-top: $xsml;
	}
}

	.list-minor,
	.list-major {
		@include clearfix;
		margin-top: 0;
	}

	
	// Major lists are 1 across, image on the left
	
	.list-major li {
		@include clearfix();
		
		img {
			width: 100%;
		}

		@include bp(med) {
			@include make-row();
		}
		
		.item-support {
			@include make-md-column($c/3);
		}

		.item-main {
			@include make-md-column($c/3*2);
		}

		padding-top: $h3;


		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

	}


	// Minor lists are two across with an icon

	.list-minor li {

		margin-top: $h3;

		@include make-xs-column($c);
		@include make-md-column($c/2, false);

		@include bp(med) {
	        &:nth-child(2n+1){
	            clear: left;
	        }  
	    }

		.item-support {
			@include make-xs-column($c/5);
		}

		.item-main {
			@include make-xs-column($c/5*4);
		}
	
		h4 {
			@extend h5;
		}

		p {
			font-size: $sml;
		}
	}



// ----
// List items
// ----

.item-support {

	img {	
		@include center-block;
	}

	.list-minor & {
		img {
			padding: $base 25%; 

			@include bp(small) {
				padding: 0;
			}
		}
	}
	
	padding-right: $gutter/2;	
	
}

.item-main {
	
	// .list-major & {
	// 	@include make-md-column(2);
	// }

	.list-minor & {
		h5 {
			margin-top: 0;
		}

		p {
			margin-top: $xsml;

		}
	}
	
	p, li {
		// font-family: $sans-serif;			
		@include bp(small) {
			// @include font-size(med);	
			// font-size: $sml;
		}
	}
}



