<section class="comment-box">

	<div class="comments">
			{% if post.comments %}
		<h3>Comments</h3>
		{% for cmt in post.comments %}
				{% include "partials/comment.twig" with {comment:cmt} %}
		{% endfor %}
			{% endif %}
	</div>

	{% if post.comment_status == "closed" %}
		<p> comments for this post are closed </p>
	{% else %}
			<!-- comment form -->
			{% include "partials/comment-form.twig" %}
	{% endif %}
</section>