{% include "partials/srcset.twig" with { img: TimberImage(3169), class: 'about-widget-thumb' } %}
{# <p class="caption">Here's a picture if me in real life! Click to see another one.</p> #}
<h4 class="widget-title -hello">Hello, and welcome!</h4>
<p>I hope you find something interesting to read here on my blog! Find me at these other places on the web:</p>
{{ include('partials/social.twig') }}