{% include "svgs/lara-character.svg" %}
<h4 class="widget-title -hello">Hello, and welcome!</h4>
<p>I hope you find something interesting to read here on my blog! Find me at these other places on the web:</p>
{{ include('partials/social.twig') }}