
<h4 class="widget-title">Credits</h4>
<p>I think 60% of being a professional in the web industry (and probably other industries) is learning from the work of others. The other 40% is sharing what you've figured out.</p>

<p>With that in mind, here are some super smart and talented folks and friends I follow and cannot thank enough for their hard work!</p>

<ul class="people-list">
 	<li><a href="https://twitter.com/chriscoyier">Chris Coyier</a></li>
 	<li><a href="https://twitter.com/sarah_edo">Sarah Drasner</a></li>
 	<li><a href="https://twitter.com/vlh">Val Head</a></li>
 	<li><a href="https://twitter.com/brad_frost">Brad Frost</a></li>
 	<li><a href="https://twitter.com/sarasoueidan">Sara Soueidan</a></li>
 	<li><a href="https://twitter.com/davatron5000">Dave Rupert</a></li>
 	<li><a href="https://twitter.com/MinaMarkham">Mina Markham</a></li>
 	<li><a href="https://twitter.com/una">Una Kravetz</a></li>
 	<li><a href="https://twitter.com/tabatkins">Tab Atkins</a></li>
 	<li><a href="https://twitter.com/itsmisscs">Claundina Sarahe</a></li>
 	<li><a href="https://twitter.com/chriseppstein">Chris Eppstein</a></li>
</ul>