{% if post.subnav %}

<nav class="section-nav">
	<ul>
		{# TODO: probably get rid of meta-greyed #}
		<li class="upperspace meta-greyed">Jump to: </li>
		{% for item in post.get_field('sections') %}
			{% if item.menu_item_title %}
				<li class="section-nav-item">
					<a href="#{{item.menu_item_title|sanitize}}">{{item.menu_item_title}}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

</nav> <!-- /.content-nav -->

{% endif %}
