{% if post.subnav %}

<nav class="section-nav">
	<p class="upperspace meta">Jump to: </p>
	<ul class="section-nav-items">
		{# TODO: probably get rid of meta-greyed #}
		{% for item in post.get_field('sections') %}
			{% if item.menu_item_title %}
				<li class="section-nav-item">
					<a href="#{{item.menu_item_title|replace({ (" ") : "_" })|lower}}">{{item.menu_item_title}}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

</nav> <!-- /.content-nav -->

{% endif %}
