<section class="series">
  <h3 class="series__title">{{series_title}}</h3>
  <ul class="series__list">
    {% for entry in series_posts %}
      {% set current_post = entry.id == current_id %}
      <li class="series__list-item {{ current_post == true ? : 'current' }}"><a href="{{entry.link}}">{{entry.title}}</a></li>
    {% endfor %}
  </ul>
</section>