<ul class="list-social">
  <li class="list-social-item">
    <a class="list-social-link" href="https://twitter.com/laras126">{% include "svgs/twitter.svg" %} Twitter</a>
  </li>
  <li class="list-social-item">
    <a class="list-social-link" href="https:/codepen.io/laras126">{% include "svgs/codepen.svg" %} CodePen</a>
  </li>
  <li class="list-social-item">
    <a class="list-social-link" href="https://twitter.com/laras126">{% include "svgs/github.svg" %} Github</a>
  </li>
  <li class="list-social-item">
    <a class="list-social-link" href="https://www.linkedin.com/in/notlaura/">{% include "svgs/linkedin.svg" %} LinkedIn</a>
  </li>
</ul>
