<p class="tease-meta">
	<span class="meta-date">{{post.date}}</span>
	<span class="meta-cat-title">Filed under:</span> {% for cat in post.categories %}<a class="meta-cat" href="{{cat.link}}">{{cat.name}}</a>{%
	endfor %}
	{% include 'partials/edit-link.twig' %}
</p>
