/******************************************************************

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-family: $sans-serif;
    font-size: $default;
    font-weight: 100;
    line-height: $line-height-base;
    color: $main-font-clr;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 0;
    border-top: 1px dotted $dark-accent;
}

/*********************
LAYOUT & GRID STYLES
*********************/

#container {
    overflow-x: hidden;
    position: relative;
}


/*********************
LINK STYLES
*********************/

a, a:visited {
    color: $link-color;
    text-decoration: none;
    border-bottom: 1px dotted $light-accent;

    /* on hover */
    &:hover, &:focus {
        color: $link-hover;
    }

    /* on click */
    &:active {

    }

    /* mobile tap color */
    &:link {
        /*
        this highlights links on iPhones/iPads.
        so it basically works like the :hover selector
        for mobile devices.
        */
        -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: $serif;
    text-rendering: optimizelegibility;
    font-weight: 300;
    /*
    if you're going to use webfonts, be sure to check your weights
    http://css-tricks.com/watch-your-font-weight/
    */

    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }
}

h1, .h1 {
    font-size: $h1;
    margin-top: $h3;
    margin-bottom: 0;
}

h2, .h2 {
    font-size: $h2;
    margin-top: $h2;
    margin-bottom: $sml;
}

h3, .h3 {
    font-size: $h3;
    margin-top: $h2;
    margin-bottom: $sml;
}

h4, .h4 {
    font-size: $h4;
    margin-top: $h2;
    margin-bottom: $sml;
}

h5, .h5 {
    margin: $h3 0 $sml;
    text-transform: uppercase;
    font-family: $sans-serif;
    letter-spacing: 2px;
    font-size: $sml;
}



/*********************
TYPOGRAPHY
*********************/

blockquote {
    font-size: $h3;
    margin: $h4 0;
    font-family: $serif;
    padding-left: 2rem;
    border-left: 1px solid $light-blue;
    margin-bottom: $h3;
    font-style: italic;
    color: lighten($main-font-clr, 20%);
}

p {
    margin-bottom: $sml;
}



/*********************
HEADER STYLES
*********************/


.header {}

    #logo {}


.rotation {
   @extend .dark-bkgd;
   a, a:visited {
    color: $vlight-accent;
   }
}

.site-header {
    padding-bottom: 0;
}

.site-header, .site-footer {
    border-top: 5px solid $medium-accent;
    border-bottom: 5px solid $light-accent;
    padding: $sml 0;
}

.site-info {
    position: relative;
    
    a {
        border-bottom: none;
        color: $white;
    }
}

.site-title {
    text-transform: lowercase;
    font-size: $h3;
    font-weight: 500;
    margin: 0;
}

.site-desc { 
    font-family: $sans-serif; 
    font-size: $sml;
    text-transform: lowercase;
    color: $light-accent;
    padding: 0;
    margin: 0;
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/



// Ze Toggle menu

.menu-link {

    i {
        font-size: $h2;
        line-height: $h2;    
        color: $light-blue;
    }

    position: absolute;
    right: 0;
    bottom: 25%;
}


.site-nav {
    text-align: center;
    margin-top: $sml/2;

    @include transition(0.3s ease-out);
    
    .js & {
        overflow: hidden;
        max-height: 0;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    &.active {
        max-height: 15em;
    }

    li {

        &:first-child {
            border-top: $accent-border;        
        }

        a {
            display: block;
            font-size: $sml;
            border-bottom: $accent-border;
            padding: $sml;
            text-align: center;    
            text-transform: uppercase;
            display: block;

            &:hover {
                color: $white;
            }
        }
    }

}



/*********************
POSTS & CONTENT STYLES
*********************/

#content {
    margin-top: $sml;
}


    // TODO: add a class/conditional instead of specifying
    .single-title,
    .page-title, .project-title, .post-title {
        font-size: $h2;
        font-weight: 300;
    }

    .post-title {
        font-weight: 500;
    }

    .single-title,
    .page-title, .project-title {
        text-align: center;
    }

    .single-title {}

    .page-title {}

    .archive-title { }


    /* post meta */
    .byline, .tags {
        color: $txt-light;
        font-size: $sml;
        margin-bottom: $h2;
        
        .single & {
            text-align: center;
        }

        time {}
    }

    /* entry content */
    .entry-content {
        margin-bottom: $h2;

        ul, ol {
            list-style-position: inside;
            margin-top: $sml;
            margin-bottom: $sml;

            li {
                &.descriptive {
                    margin-bottom: $sml;                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;

        }


        dd {
            margin-left: $sml;
            font-size: $sml;
            color: $txt-light;
            margin-bottom: $h3;
        }

        img, .fig-large {
            margin-bottom: $default;
        }
        
        .fig-large img {
            margin-bottom: 0;
        }

        video, object {
            max-width: 100%;
            height: auto;
        }

        pre {
            background: $vlight-accent;
            border: $accent-border;
            margin-top: $default;
            padding-top: 0;
        }

    } /* end .entry-content */

    .wp-caption {
        max-width: 100%;
        background: $vlight-accent;
        padding: $sml/3;
        
        /* images inside wp-caption */
        img {
            max-width: 100%;
            margin-bottom: 0;
            width: 100%;
        }

        p.wp-caption-text {
            font-size: $sml;
            margin: $sml/4 0 $default;
            text-align: center;
        }

    } /* end .wp-caption */


// Gallery styles

.gallery-icon img {
    margin-bottom: 0;
}


// Custom type

.thumb-image {
    position: relative;
    margin-bottom: $default;
    
}

.thumb img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    border: 4px solid $light-accent;
}

.thumb-title {
    position: absolute;
    border-top: $accent-border;
    margin-bottom: 0;
    padding: $sml/2;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    background-color: rgba($dark-accent, 0.8);
    color: $white;
    display: none;
}


// Project page

.project-title {
    margin-top: $sml;
}

.project-content {
    margin-bottom: $h3;
}

.project-content img {
    width: 100%;
}

.project-nav {
    margin-bottom: $h4;
    .fa {
        font-size: $h1;
    }
}

.page-divider {
    margin-bottom: $h3;
}

.page-desc {
    text-align: center;
}



// This is a very bad name
// it means the mefish image on the home page
.header-img {
    margin-bottom: $h1;
}

.callout-quote {
    font-size: $h3;
    text-align: left;
    margin: $h1 $h2; 
}



// About

.page-about .fig-large {
    margin-top: $h3;
}

// Contact

.page-contact {
    .social li i {
        font-size: $h1;
    }
}

// Subsection styles reused thoroughout
// TODO: maybe rename? Subsection sounds kind of dumb
// And these could be in more places

.subsection-title {
    margin: $h1 0 $h2;
    padding-top: $sml;
    border-top: 1px dotted $dark-accent;    
    @extend .h5;
    @extend .special;
    text-align: center;        
}

.subsection {
    margin-bottom: $h2;
}

.subsection-tagline {
    font-size: $h3;
}

.summary {
    font-size: $h4;
    font-family: $sans-serif;
}




// Fluid videos
// http://www.bymichaellancaster.com/blog/fluid-iframe-and-images-without-javascript-plugins/
.media-wrap {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: $h3;
    height: 0;
    overflow: hidden;
    margin: 0 auto $h3;
}

.media-wrap {
    iframe, object, embed {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// General

.tags {

    .pv-middle & {
        margin-bottom: 0;
        margin-top: $sml;
    }

}

.article-footer {
    padding-bottom: $h3;
}



// Post formats

.format-type {
    color: $medium-accent;
    margin-right: $sml;
}




/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.prev-next {
    border-top: $accent-border;

    a {
        border: 0;
    }

    i {
        font-size: $h2;
        padding-top: $h4;
    }
}

.prev {
    text-align: left;
}

.next {
    text-align: right;
}

.back-top-container {
    text-align: center;
    a {
        padding: $h4;
        color: $medium-accent;
        border: 0;
        font-size: $h2;

        &:hover {
            color: $link-hover;
        }
    }
}


.pagination,
.wp-prev-next {
    margin: $h3 0 $h1;
}
    .pagination{
        text-align: center;
        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: 1px;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    border: none;
                    padding: 0;
                    line-height: $default;
                    font-size: $default;
                    padding: $default/2;
                    min-width: $default;
                    display: block;
                }
                span.current, a:hover, a:focus {
                    background-color: $vlight-accent;
                    background-color: $vlight-accent;
                }
            }
        }
    } /* end .bones_page_navi */

    /* fallback previous & next links */
    .wp-prev-next {

        ul {}

        .prev-link {
            float: left;
        }

        .next-link {
            float: right;
        }

    } /* end .wp-prev-next */

.tablet-nav {
    display: none;
}


/*********************
FOOTER STYLES
*********************/

.footer {
    clear: both;
}

.site-footer {
    margin-top: $h1;
    .wrap {
        padding-top: $h2;
    }

   text-align: center;
}

    .social {
        display: inline-block;

        li {
            display: inline-block;
            padding-right: $default;
            a {
                border: none;
            }
            i {
                font-size: $h2;
            }
        }
    }

    .colophon {
        font-size: $sml;
        padding-top: $sml;
    }


    /*
    if you checked out the link above:
    http://www.alistapart.com/articles/organizing-mobile/
    you'll want to style the footer nav
    a bit more in-depth. Remember to keep
    it simple because you'll have to
    override these styles for the desktop
    view.
    */
    .footer-links {

        ul {

            li {}

        }

    } /* end .footer-links */


