// Root styles


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: $default; 
    font-family: "museo-sans-1", sans-serif;
    font-weight: 100;
    color: $dark-accent;

    line-height: 1.611;

    background-color: $white;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'adelle-1', sans-serif;
    font-weight: 400;
    margin-bottom: $sml;
}

h1, .h1 { 
    font-size: $h1;
    margin-top: $h1;
}

h2, .h2 {
    font-size: $h2;
    margin-top: $h2;
}

h3, .h3 {
    font-size: $h3;
    margin-top: $h3;
}

h5, .h5 {
    text-transform: uppercase;
    font-size: $sml;
}

a {
    &:link, &:visited {
        color: $link-color;
    }
}

small {
    font-size: $sml;
}

p {
    margin-bottom: $default;
}

blockquote {
    font-size: $h3;
    font-family: 'adelle-1', serif;
    margin: 0;
    padding-left: 2rem;
    border-left: 1px solid $light-blue;
    margin-bottom: $h3;
    @extend .italic;
}

em {
    @extend .italic;   
}

// Header

// TODO: not oocss with this padding-bottom
.site-header {
//    background-color: $dark-accent;
    color: $black;
    
    position: relative;

    .inner-wrap {
        border-bottom: 1px solid $light-blue;
        padding: $sml;
        padding-bottom: 0;
    }

    a, a:hover {
        @include unstyled-link;
    }
}

.site-info {
    position: relative;
    text-align: center;
}

.site-title {
    margin: 0;
    font-family: 'adelle-1';
    font-size: $h3;
    font-weight: 500;
}

.site-desc { 
    font-family: 'museo-sans-1', sans-serif; 
    font-size: $sml;
    padding: 0;
    margin: 0;
}

// Navigation

.site-nav {
    padding-top: $sml;
    //color: $white; 
    li {
        a {
            line-height: $h2;
            vertical-align: bottom;
            padding: $sml;    
            text-transform: uppercase;
        }
    }
}

.menu-link {

    i {
        font-size: $h3;
        line-height: $h1;    
        color: $light-blue;
    }

    position: absolute;
    right: 0;
    bottom: 0;
}

nav[role=navigation] {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
    overflow: hidden;
    max-height: 0;
}

nav[role=navigation].active {
    max-height: 15em;
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
    
}

nav[role=navigation] li {

    &:first-child {
     //   border-top: 1px solid $grey;        
    }

    a {
        display: block;
        padding: 0.8rem;
        font-size: $sml;
        border-bottom: 1px solid $grey;
    }
}



// Sections

.zinger {
    @extend .text-center;
    background-color: $white;
    color: $black;
    h2 {
        font-size: $h2;
     //   margin: $h2 0;
    }
}

.home-quote {
    text-align: left;
}

.subsection {
    margin-top: $h1;
    @include clearfix;
    text-align: center;
    
    .inner-wrap {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    img {
        margin-bottom: -10px;
    }
}

.subsection-img {
    background-image: url('../images/site/water_sml.png');
    background-position: bottom;
    background-repeat: repeat-x;
    border-bottom: 10px solid $dark-accent;
    
}

.subsection-title {
    //border-top: 1px dotted $white;
    // border-bottom: 1px dotted $white;
    //font-size: $h2;
}

.secondary {
    background-color: $dark-accent; 
}

.pic-o-me {
    border-bottom: 0.5rem $light-accent solid;
    margin: 0;
}


// Traffic light of availability

.availability {
    background-color: $black;
    padding: 1rem;
    right: 0;
    top: 0;
    position: absolute;
}

.light {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}
    
    .free {
        @include bubble($alert-green);
    }

    .busy {
        @include bubble($alert-yellow);
    }

    .booked {
        @include bubble($alert-red);
    }

.availability-desc {
    
}

    .light-desc {
        display: none;
    
        &.active {
            display: block;
        }
    }

/* Section color themes */

.rotation {
    background-color: $dark-accent;
    color: $white;
}
