/******************************************************************

Tablets and whatnot

******************************************************************/


/*********************
HEADER
*********************/


.site-title {
    margin: 0;
    font-size: $h2;
}

.callout-quote {
    font-size: $h2;
}



/*********************
NAVIGATION STYLES
*********************/

.menu-link {
   display: none;
}

.site-nav {
    text-align: right; 
    
    .js & {
        max-height: none;
    }

    ul {
        margin: 0 0 0 -0.25em;
        border: 0;
    }

    li {
        display: inline-block;
        line-height: 0;
        border: none;

        a {
            border: none;
            &:hover, &:focus {
                border-bottom: $accent-border;
                border-top: $accent-border;
            }
        }

        &:first-child {
            border-top: 0;
        }
    }

    /* highlight current page */
    li.current-menu-item, 
    li.current_page_item,
    li.current-page-ancestor {
        a {
            border-bottom: $accent-border;
            border-top: $accent-border;
        }
    }  /* end current highlighters */
}



/*********************
POSTS & CONTENT STYLES
*********************/


// Home

.subsection-tagline {
    font-size: $h2;
}

.summary {
    font-size: $h3;
}


// Page nav
.prev-next {
    i {
        // font-size: $h1;
    }
}



/* entry content */
.entry-content {
    position: relative;  
    
    ul, ol {
        list-style-position: outside;
    }

    /* at this larger size, we can start to align images */
    .alignleft, img.alignleft { 
        margin-right: 1.5em; 
        display: inline; 
        float: left; 
    }
    .alignright, img.alignright { 
        margin-left: 1.5em; 
        display: inline; 
        float: right; 
    }
    .aligncenter, img.aligncenter { 
        margin-right: auto; 
        margin-left: auto; 
        display: block; 
        clear: both; 
    }

    .single-custom_type & {
        img {
            width: 100%;
        }
    }
            
} /* end .entry-content */

.thumb-image {
    &:hover {
        border-color: $medium-accent;
    }
    &:active {
        border-color: $dark-accent;
    }
}

/*********************
FOOTER STYLES
*********************/
    
.site-footer {
    text-align: left;
}

.social {
    float: left;
}

.copyright {
    float: right;
}


/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
    ul {
        li {}
    }
} /* end .footer-links */
            
