

// -----
// Grid
// -----

// advanced
$container-width: false;
$container-style: magic;
$from-direction: left;
$omega-float: right;

// media-query fallbacks
$breakpoint-media-output: true;
$breakpoint-ie-output: true;
$breakpoint-raw-output: false;


$total-columns  : 8;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$container-style: fluid;
$container-width: $large;

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
 
  container: $container-width,
  math: if($container-style == magic, fluid, $container-style),
  flow: if($from-direction == right, rtl, ltr),
  last-flow: if($omega-float == $from-direction, from, to),

	// debug: (
	// 	image: show,
	// 	color: rgba(122,122,122,0.3),
	// 	output: overlay,
	// 	toggle: top right,
	// ),
); 

@include border-box-sizing;

// Container
.wrap, .contain {
	@include container($total-columns);
    padding-left: $sml;
    padding-right: $sml; 
}


// Posts/projects nav
.prev { @include span(2 of 8); }
.pv-middle { @include span(4 of 8);	}
.next { @include span(2 of 8 omega); }

@media (max-width: $small) {
	.gfield_left_half, 
	.gfield_right_half {
		width: 100%;
	}	
}


@include susy-breakpoint($small, 6) {
	.thumb { @include gallery(3); }
	
	.field-wrap label, 
	.submit-wrap { 	@include span(6); }

	.mobile-hide { display: block; }

}

@include susy-breakpoint($msm, 6) {
	.entry-content, 
	#disqus_thread { @include squish(1,1); }

	.fig-large {
		@include bleed(1 of 6);
		padding: 0;
		margin-top: 0;
	}  	
}

@include susy-breakpoint($medium, 6) {
  	.site-info { @include span(2); }
	.site-nav { @include span(4 omega); }
	
  	.thumb { @include gallery(2); }
}

.footer-block {
	@include bp(mama-bear) {
		@include span(3 of 6);	
	}
}

	.mc-signup {
		.email, 
		.button { width: 100%; }

		@include bp(baby-bear) {
			form { @include clearfix; }
			.email { @include span(4 of 6 no-gutters); }
			.button { @include span(2 of 6 no-gutters); }
		}
	}

	.mc-signup, .mc-prompt {
		@include bp(mama-bear) {
			@include last;
		}
	}