

// -----
// Grid
// -----

// advanced
$container-width: false;
$container-style: magic;
$from-direction: left;
$omega-float: right;

// media-query fallbacks
$breakpoint-media-output: true;
$breakpoint-ie-output: true;
$breakpoint-raw-output: false;


$total-columns  : 8;             // a 12-column grid
$column-width   : 5em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$container-style: fluid;
$container-width: $large;

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,
 
  container: $container-width,
  math: if($container-style == magic, fluid, $container-style),
  flow: if($from-direction == right, rtl, ltr),
  last-flow: if($omega-float == $from-direction, from, to),

	debug: (
		image: show,
		color: rgba(122,122,122,0.3),
		output: overlay,
		toggle: top right,
	),
); 

@include border-box-sizing;

// Container
.wrap, .contain {
	@include container($total-columns);
    padding-left: $sml;
    padding-right: $sml; 
}


// Posts nav
.prev-next {
	@include container(8);

	.prev {
		@include span(2 of 8);
	}
	
	.pv-middle {
		@include span(4 of 8);	
	}

	.next {
		@include span(2 of 8);
	}

	.nav-text {
		display: none;
	}
}

@include susy-breakpoint($small, 6) {
	.thumb { @include gallery(3); }
	
	.field-wrap label, .submit-wrap { 
		@include span(6);  
	}

	.mobile-hide { display: block; }

}

@include susy-breakpoint($medium, 8) {
  	
	.entry-content {
		@include squish(1,1);
	}

  	.thumb { @include gallery(4); }

  	.site-info { @include span(4 of 8); }

	.site-nav { @include span(4 of 8 omega); }

	.prev-next {
		@include container(12);
		
 		.nav-text {
 			display: inline-block;
 		}

		.prev {
			@include span(3);
			
			.nav-text {
				padding-left: $sml;
				line-height: 2;
			}
		}
		
		.pv-middle {
			@include span(6);	
		}

		.next {
			@include span(3 omega);

			.nav-text {
				padding-right: $sml;
			}
		}
	}


	.social {
		@include span(3 of 6);
	}

	.mc-signup {

		// form {
			@include span(3 of 6 omega);
		// }
		
		.email {
			@include span(4 of 6 no-gutters);
			
		}
		.button {
			@include span(2 of 6 no-gutters);
		}
	}

}


