

// ---
// Global
// ---

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
	border-top: $sml/2 solid $accent-dark;
	
	word-wrap: break-word;
	
	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	border-top: $accent-border;
}

ul, ol {
	margin-top: $base;
}




// ---
// Typography 
// ---

.lead {
	font-size: $h4;
}


