

// ---
// Global
// ---

* {
	box-sizing: border-box;
}

body {

	overflow-x: hidden;
	background: $body-bkgd;

	&.home {
		background: $accent-light;
	}

	word-wrap: break-word;
	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-top: $accent-border;
}

ul, ol {
	margin-top: $base;
}

figure {
	margin: 0;
}

pre,
code {
	 white-space: pre-wrap;
}

.tease-post,
.tease-project {
	background-color: $body-bkgd;
}
