
// Text Image Block

.textimage-image {
	margin-top: $grid-gap;
}

// Testimonial Block

.block_testimonial {

}

.meta-cite {
	@include meta($color: $text-med);
	text-align: right;
	margin-top: $base;
	font-style: normal;
}


// List block

.block_list {
	> ul {
		@include unstyle-list;
	}
}