

// Captions

figcaption {
	padding: $sml/3;
	text-align: center;
	font-size: $sml;
}

	.caption-opaque {
		background: $accent-vlight;
		z-index: $ztop;	
	}

	.caption-clear {
		@include meta($text-med);
	}



// Entry content (for legacy posts)

.entry-content,
.tease-content {
	figure {
		@include bleed();
		margin-top: $base;
	}	

	figcaption {
		@extend .caption-clear;
	}
}



// Tags and category lists

.tags-list {
	text-align: center;
}



// Reveal on project hover

.reveal-on-hover {
	position: relative;

	img {
		width: 100%;
	}

}

	.reveal-on-hover:hover {
		.to-reveal {
			opacity: 1;
			transition: all 0.5s ease;
		}
		
		img {
			opacity: 0.5;
		}	
	} 
	
	.to-reveal {
		position: absolute;
		bottom: $base;
		width: 80%;
		left: 10%;
		opacity: 0;
	
		a {
			margin-bottom: $base;
			@include center-block;
			@include make-sm-column($c/2);
		}
	}
