

// Captions

figcaption {
	@include meta($text-med);
}

.caption-opaque {
	background: $accent-vlight;
	z-index: $ztop;
}



// Entry content (for legacy posts)

figure {
	margin-top: $base;
}



// .entry-wrap {
//   display: flex;
//   flex-direction: column;
//   @include bp(large) {
//     flex-direction: row;
//   }
// }

// .entry-content {
//   order: 0;
//   @include bp(large) {
//     order: 1;
//   }
// }

// .entry-aside {
// 	padding-top: $h4;
// 	@include rotate($accent-med);
//   flex-shrink: 0;
//   order: 1;
//   @include bp(large) {
//     order: 0;
//     width: calc(100% / 4);
//     margin-right: $h4;
//   }
// }




// Tags and category lists

.tags-list {
	@include unstyle-list;
	display: flex;
	flex-wrap: wrap;

	> li {
		margin-top: $xsml/1.7;
		margin-right: $xsml/2;
	}
}

.tag {
	@include unstyle-link;
	@include meta;
	background-color: $accent-light;
	padding: $xsml/2 $xsml;
	border-radius: 2px;
}
