

// Captions

figcaption {
	padding: $xsml;
	text-align: center;
	font-size: $sml;
}

	.caption-opaque {
		background: $accent-vlight;
		z-index: $ztop;
	}



// Entry content (for legacy posts)

.entry-content,
.tease-content {
	figure {
		@include bleed();
		margin-top: $base;
	}

	figcaption {
		@include meta($text-med);
	}
}



// Tags and category lists

.tags-list {
	text-align: center;
}

