.main-misc {
	max-width: $screen-md;
	margin: auto;
	background: $accent-light;
}

.site-footer {
	background-color: $accent-vdark;
	color: $text-light;
	position: relative;
	margin-top: $grid-gap*2;

	a {
		color: $accent-light;
	}
}

.footer-colophon {
	text-align: center;
	padding-bottom: $base;
	background-color: $accent-med;

	p {
		margin-top: 0;
		padding-top: $base;
		font-size: $sml;
	}
}

.list-social {
	@include unstyle-list();
	margin-top: $h4;

	display: flex;
	flex-wrap: wrap;

	> * {
		width: 40%;
	}
}

.list-social-item {
	margin-bottom: $sml/2;

}

.list-social-link {
	display: flex;
	align-items: center;
	border-bottom: 0;
	@include accelerate(transform);

	svg {
		padding-right: $sml/2;
	}

	&:hover {
		transition: 0.2s all ease;
		transform: scale(1.1);
	}

	.-footer & {
		svg {
			fill: $accent-vlight;
		}

		&:hover svg {
			fill: $accent-light;
		}
	}

	.main-aside & {
		svg {
			fill: $accent-med;
		}
		&:hover svg {
			fill: $accent-dark;
		}
	}
}


.widgets {

	&.-blog {
		@include unstyle-list();
		padding-top: 0;
	}

	&.-footer {
		@include unstyle-list();
		margin-bottom: 0;

		@include bp(med) {

			@include grid(yes) {
				display: grid;
				grid-template-columns: repeat(3, minmax(200px, 450px));
				grid-column-gap: $grid-gap;
			}

			@include grid(no) {
				display: flex;
				flex-wrap: wrap;
				// justify-content: space-around;
			}
		}
	}
}

.widget {
	p, li, a {
		font-size: $sml;
	}

	.-footer & {
		padding-top: $grid-gap;
		padding-bottom: $grid-gap;
		max-width: 300px;

		@include bp(med) {
			margin-left: $grid-gap/2;
			margin-right: $grid-gap/2;
		}
	}

	&.-svg-sticky {
		// transform: rotate(180deg);
		min-height: 200px;
		position: relative;
		svg {
			position: absolute;
			bottom: 0;
		}
	}
}

.about-widget {
	// width: 40%;
}

