
.site-footer {
	background-color: $accent-light;
	color: $text-dark;
}

.footer-content {
	text-align: center;
}

.list-social {
	@include unstyle-list(false);
	@include horizontal-list();
	margin-top: $h4;
	padding-left: 0;

	text-align: center;

	@include bp(med) {
		text-align: left;
	}

	.icon {
		@extend .icon;
		margin-right: $sml;
	}
}

.colophon {
	padding-bottom: $base;
	p {
		font-size: $sml;
	}
}


.widgets {

	&.-blog {
		@include unstyle-list();
		margin-left: -$grid-gap;
		margin-right: $grid-gap;
	}

	&.-footer {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
		grid-gap: $grid-gap;
	}
}

.widget {
	font-size: $sml;

	ul {
		@include unstyle-list();
	}

	.-blog & {
		margin-bottom: $grid-gap;
		padding: $grid-gap;
		background-image: linear-gradient(to bottom right, $accent-light, transparent);
	}

	.-footer & {
		border: $accent-border;
	}
}

.widget-title {
	margin-top: 0;
	margin-bottom: $base;
	font-size: $base;
	text-transform: uppercase;
}

.widget-list {}

.links-social {}

