
.site-footer {
	border-top: $sml/2 solid $accent-med;
	@include rotate;	
	font-size: $sml;

	a {
		@include unstyle-link;
	}

}

	.list-social {
		@include unstyle-list(false);
		@include horizontal-list();
		margin-top: $h4;
		padding-left: 0;
	}

	.colophon {
		
		p {}

		a {

			&:hover {
				color: $accent-med;
			}
		}
	}

	.creds {}
	
	.copyright {
		font-size: $sml;
	}


.widget {
	@include make-md-column($c/2);
}

	.widget-title {}

	.widget-list {}

	.links-social {}

