
.site-footer {
	background-color: $accent-vdark;
	color: $text-light;
	padding-left: $grid-gap;
	padding-right: $grid-gap;

	a {
		color: $accent-light;
	}
}

.footer-colophon {
	text-align: center;
	padding-bottom: $base;
	background-color: $accent-med;
	margin-left: -$grid-gap;
	margin-right: -$grid-gap;

	p {
		margin-top: 0;
		padding-top: $base;
		font-size: $sml;
	}
}

.list-social {
	@include unstyle-list(false);
	@include horizontal-list();
	margin-top: $h4;
	padding-left: 0;

	.icon {
		@extend .icon;
		margin-right: $sml;
	}
}


.widgets {
	@include unstyle-list();

	&.-blog {
		padding-top: 0;
	}

	&.-footer {
		@include bp(med) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.widget {
	p, li, a {
		font-size: $sml;
	}

	ul {
		@include unstyle-list();
	}

	.-footer & {
		// border: $accent-border;
		// background-color: $accent-vlight;
		padding-top: $grid-gap;
		padding-bottom: $grid-gap;
		@include bp(med) {
			margin-left: $grid-gap/2;
			margin-right: $grid-gap/2;
		}
	}
}

.widget-title {
	margin-top: 0;
	margin-bottom: $base;
	font-size: $base;
	@include upperspace;
}

.widget-list {}

.links-social {}

