

.front-page-header {
	padding-top: $h1*2;
	// min-height: 70vh;
	background-image: linear-gradient(to top right, $yellow, $white);
	display: flex;
	align-items: flex-end;
	// padding-top: 5rem;

}

.lara-character {
	.js & {
		visibility: hidden;
		opacity: 0;
	}
	height: 70vh;
	display: block;
	margin: 0 auto;
}

.grid-panel {
	@include bp(med) {
		display: flex;
		// grid-column-gap: $grid-gap;
		// grid-template-columns: repeat(6, 1fr);
	}
}


.panel p {
	font-size: $h4;
}

.panel-1 {
	// background: $white;
}

.panel-2 {
	background-color: #B4CDFC;
}

.panel-svg {
	@include bp(med) {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		// grid-column: span 2;
	}
}

.panel-desc {
	// background: $accent-vdark;
	// color: $text-light;
	// @include bp(med) {
	// 	background: none;
	// 	color: $text-dark;
	// }
	// grid-column: span 4;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;

	// margin-top: -$grid-gap;
	// color: $text-light;
}

.panel-img {

}

.panel-title {
	padding-top: 0;
	font-size: $h1;
	.rotate-colors {
		animation: rotate-text-color 10s forwards;
	}
}

.panel-inner {
	max-width: 600px;
	padding: $grid-gap;
	// background-color: $accent-vdark;
}

