
.site-header {
  background: $accent-med;
}

.site-header > * {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include bp(menu) {
    flex-wrap: nowrap;
  }
}

.site-info,
.site-nav {

}

.site-info {

}

.site-nav {
  margin-top: $sml;
  width: 100%;

  @include bp(menu) {
    text-align: right;
    width: auto;
    margin-left: auto;
  }
}

.site-title {
  font-size: $h3;
  margin-top: $base;

  a {
    @include unstyle-link;
  }

}

.site-desc {
	@include meta($accent-med);

  @include bp(small) {
    display: block;
  }
}

