// ----
// Navigation
// ----

// Toggle menu

.menu-link {
  margin-left: auto;
  // Hide the menu button on large screens
  @include bp(menu) {
    display: none;
  }
}

.menu-list {
  border-top: $accent-border;
  @include unstyle-list;

  @include bp(menu) {
    display: flex;
    border-top: 0;
  }

}

.site-nav {
  text-align: center;
  margin-top: $sml;
  padding: $sml 0;

  overflow: hidden;
  max-height: 0;

  &.active {
    max-height: 25em;
    overflow: visible;
  }

  // Hide on large screens
  @include bp(menu) {
    max-height: none;
    overflow: visible;
  }


  &:first-child a {
    border-top: 1px solid transparent;
  }

}

.menu-item {
  @include bp(menu) {
    padding-left: $xsml;
  }
}

.menu-item-link {
  border-bottom: $accent-border;
  display: block;
  padding: $sml;
  text-align: center;
  color: $accent-vlight;

  @include bp(menu) {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-top: $xsml;
    padding-bottom: $xsml;

    .current-menu-item &,
    .current_page_item & {
      border-bottom: $accent-border;
      border-top: $accent-border;
    }

    &:hover, &:focus {
      border-bottom: $accent-border;
      border-top: $accent-border;
    }
  }

}


// Section nav on pages

.section-nav ul {
  padding-left: 0;
  text-align: center;
  @include unstyle-list;

  @include bp(small) {
    @include horizontal-list($margin: $xsml);
    li {
      padding: $xsml;
    }
  }

  margin-top: $h4;

  a {
    @include meta($color: $accent-dark);
  }

}



// Prev-next Navigation

.pagenav,
.pagination {
    position: relative;
}

.pagenav-link {
    position: absolute;
    margin-top: $h2;
    top: 0;
    z-index: 5;
}

.link-next {
    right: 0;
}

.link-prev {
    left: 0;
}

    .pagenav-middle {
        padding-left: $h2;
        padding-right: $h2;
    }


.pages {
    @include horizontal-list($margin: $xsml);
    margin-top: $h1;
    margin-bottom: $h1;
    text-align: center;
    padding: $xsml;

    a {
        border: none;
    }

    .current {
        border-bottom: 3px solid $accent-med;
    }
}




// ----
// Hamburger menu Icon
// http://codepen.io/lexstefan/pen/mwtcn
// ----

.menu-link {
    padding: $sml;
}

    .menu-link a {
        float: right;
    }

    .menu-link span {
        transition: all 0.05s ease-in-out;
        width: 30px;
        height: 3px;
        display: block;
        background: $accent-dark;
        margin: 0 0 5px 0;
        border-radius: 1px;
    }

    .menu-link span:last-child {
        margin:0;
    }

    .menu-link.active span:nth-of-type(1) {
        transform: rotate(45deg);
        margin: 10px 0 0 0;
    }

    .menu-link.active span:nth-of-type(2) {
        opacity:0;
    }

    .menu-link.active span:nth-of-type(3) {
        transform: rotate(-45deg);
        margin: -11px 0 0 0;
    }

