
.page-header {
	// text-align: center;
}

	.page-title {
		position: relative;
		
	}

	.page-tagline {
		border-bottom: $accent-border;
		padding-bottom: $base;
		margin-bottom: $base;
	}

	.page-title,
	.page-tagline {
		text-align: center;
	}

.page-body {
	position: relative;
	z-index: $zmid;
}

