.js-typed-src {
	@include visually-hidden;
}

.home {

	.site-header {
		// display: none;
	}

	.site-callout {
		display: none;
	}

	.page-title,
	.page-tagline {

	}

	.page-tagline {
		font-size: 5vw;
		// text-align: right;
	}

	.page-section {
		grid-row: content;
		background-color: $accent-light;
	}

	// .page-image {
	// 	width: calc(100% + #{$base * 2});
	// 	margin-left: -$base;
	// }

	.path {
		fill: none;
		stroke: $accent-dark;
		stroke-width: 4px;
	  stroke-dasharray: 1000;
	  stroke-dashoffset: 1000;
	}

	.path-first {
		animation: dash 2s ease-in-out;
	}

	@keyframes dash {
	  to {
	    stroke-dashoffset: 0;
	  }
	}

}



.module-image {
	position: relative;
	background-size: cover;
}


.page-header {
	// text-align: center;
}


.page-tagline {
	// @include divide-with-border(bottom);
}

.page-title,
.page-tagline {
}

.page-intro {

}



// Story page specific styles

.page-template-page-story_layout {
	.page-tagline {
		border-bottom: none;
	}
}

.callout-quote p {
	font-size: $h4;
}


