
.header-single {
  // @include rotate;
	padding-bottom: $h4;
}

.blog {
	// background-color: $accent-dark;
}

.blog-header {
	background: linear-gradient(to top, $accent-light, $body-bkgd);
	margin-bottom: $grid-gap;

	@include bp(med) {
		margin-bottom: 0;
	}

	&.-full {
		grid-column: 1 / -1;
	}

	&.-half {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}

.blog-title {
	font-size: $h1*2;
	text-align: center;
}

// Post Teases

.tease-loop {
	margin-top: $grid-gap;

	@include bp(med) {
		padding-right: $grid-gap;
		display: grid;
		grid-row-gap: $grid-gap;
		grid-column-gap: $grid-gap;
		grid-template-columns: repeat(2, 50%);

		// TODO flexbox fallback
	}

	@include bp(large) {
		padding-left: $grid-gap;
	}
}

.tease-thumb {
	max-height: 400px;
	padding-bottom: $sml;
	overflow: hidden;
	@include bp(med) {
		max-height: none;
	}
}

.grid-tease {
	@include bp(med) {
		grid-column: 1 / -1;

		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-column-gap: $grid-gap;
	}
}

.tease-post {
	margin-bottom: $grid-gap;
	padding-top: $grid-gap;
	padding-bottom: $grid-gap;
	border: 1px solid $accent-light;
	background: $white;

	@include bp(small) {
		padding-right: $grid-gap;
		padding-left: $grid-gap;
	}

	@include bp(med) {
		margin-bottom: 0;
	}
}

.tease-meta {
	@include meta($text-med);
}

.tease-thumb {
	margin-bottom: $sml;
	img {
		display: block;
		border: $accent-border;
		width: 100%;
	}
}

.tease-title {
	line-height: $line-height-sm;
	margin-top: $base;
	font-size: $h3;
	margin-bottom: $base;
	@include bp(large) {
		// margin-left: $grid-gap;
	}
}

.tease-title-link {
	color: $accent-dark;
	border-bottom: 0;
}


// Single

.single-meta {
	border-top: $accent-border;
	padding-top: $sml;
	padding-right: $grid-gap/2;
	border-bottom: none;
	font-size: $sml;

	@include bp(large) {
		margin-left: $grid-gap;
	}

	> * {
		display: inline-block;
		margin-right: $base;

		@include bp(med) {
			margin-right: 0;
		}
	}

	@include bp(med) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

.meta-date {
	margin-top: 0;
}
