
.header-single {
	padding-bottom: $h4;
}

.blog-title {
	font-size: $h1*2;
	text-align: center;
}

// Post Teases

.tease-loop {
	margin-top: $grid-gap;
}

.tease-thumb {
	display: flex;
	flex-direction: column;
}

.post {
	@include card;

	@include bp(large) {
		margin-bottom: 0;
	}
	
	&--status {
		border-top-color: $vlight-blue;
	}
}

@keyframes sticky {
	0% {
		border-top-color: $yellow;
		// transform: rotate(0);
	}
	25% {
		border-top-color: $accent-med;
	}

	40% {
	}

	60% {
		border-top-color: $yellow;
	}
	75% {
		border-top-color: $pink;
	}
}

.sticky {
	border-top-color: $pink;
}

.sticky-thumb-link {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: $accent-vlight;
	height: 100%;
}

.tease-meta {
	margin-bottom: 0;
}

.tease-meta,
.single-meta,
.wp-block-quote cite {
	@include meta($text-med);
	padding-top: $sml;
}

.tease-thumb-img {
	display: block;
	width: 100%;
}

.tease-title {
	line-height: $line-height-sm;
	margin-top: $base;
	font-size: $h3;
	margin-bottom: $base;

	.post--status & {
		font-size: $h4;
		display: flex;
		align-items: center;
		margin-bottom: 0;
	}

}

.tease-title-link {
	color: $accent-dark;
	border-bottom: 0;
}


// ----
// Singles
// ----

.single-title > a {
	color: $text-dark;
}

@include bp(large) {
	.list-tags-title,
	.list-tags {
		text-align: right;
	}
}

.list-tags-title {
	margin-bottom: $sml;
}

.list-tags {
	@include unstyle-list;
	font-size: $sml;
	font-style: italic;
	color: $text-med;
	@include bp(large) {
		text-align: right;
	}
}

.single-content {
	ol, ul{
		li {
			margin-bottom: $sml / 2;
		}
	}
}
