
.header-single {
  // @include rotate;
	padding-bottom: $h4;
}

.blog-header {
	background: linear-gradient(to top, $accent-light, $body-bkgd);
	margin-bottom: $grid-gap;

	@include bp(med) {
		margin-bottom: 0;
	}

	&.-full {
		grid-column: 1 / -1;
	}

	&.-half {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}

.blog-title {
	font-size: $h1*2;
	text-align: center;
}

// Post Teases

.tease-loop {
	margin-top: $grid-gap;

	@include bp(med) {
		.blog & {
			padding-right: $grid-gap;
		}
	}
}

.tease-thumb {
	max-height: 400px;
	min-height: 100px;
	overflow: hidden;

	@include bp(med) {
		max-height: none;
	}

	display: flex;
	flex-direction: column;

}

.post {
	padding-top: $grid-gap;
	padding-bottom: $grid-gap;
	border: 1px solid $accent-light;
	background: $white;
	border-top: 5px solid $accent-med;
	padding-right: $grid-gap;
	padding-left: $grid-gap;
	margin-bottom: $grid-gap;

	@include bp(large) {
		margin-bottom: 0;
	}

	> a {
		&:hover {
			transform: scale(1.1);
		}
	}

}

@keyframes sticky {
	0% {
		border-top-color: $yellow;
		// transform: rotate(0);
	}
	25% {
		border-top-color: $accent-med;
		// transform: rotate(10deg);
	}

	40% {
		// transform: rotate(0deg);
	}

	60% {
		border-top-color: $yellow;
		// transform: rotate(-10deg);
	}
	75% {
		// transform: rotate(0);
		border-top-color: $pink;
	}
}

.sticky {
	border-top-color: $pink;
	// animation-name: sticky;
	// animation-delay: 2s;
	// animation-duration: .5s;
	// animation-timing-function: forwards;
}

.sticky-thumb-link {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: $accent-vlight;
	height: 100%;
}


.tease-meta,
.single-meta {
	@include meta($text-med);
	padding-top: $sml;
}

.tease-thumb-img {
	display: block;
	border: $accent-border;
	width: 100%;
}

.tease-title {
	line-height: $line-height-sm;
	margin-top: $base;
	font-size: $h3;
	margin-bottom: $base;
}

.tease-title-link {
	color: $accent-dark;
	border-bottom: 0;
}


// ----
// Singles
// ----

.single-title > a {
	color: $text-dark;
}

@include bp(large) {
	.list-tags-title,
	.list-tags {
		text-align: right;
	}
}

.list-tags-title {
	margin-bottom: $sml;
}

.list-tags {
	@include unstyle-list;
	font-size: $sml;
	font-style: italic;
	color: $text-med;
	@include bp(large) {
		text-align: right;
	}
}

.single-meta {
	margin-bottom: $h2;
}

//