


// ----
// Project Tease
// ----

// Projects grid on page-portfolio.twig
.grid-projects {
	display: grid;
	grid-column-gap: $grid-gap;
	grid-row-gap: $grid-gap * 2;
	grid-template-rows: minmax(200px, auto);
	grid-auto-flow: row dense;

	// Two columns on large
	@include bp(large) {
		grid-column-gap: $grid-gap;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
		margin-right: $grid-gap;
	}

	// Flexbox fallback
	@include grid(no) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> * {
			width: 32%;
		}
	}
}

// TODO: credit scott kellum's site for scroller
.tease-project {
	margin-left: -$grid-gap;
	margin-right: -$grid-gap;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	transition: 0.3s all ease;

	&:hover,
	&:focus {
		transition: 0.3s all ease;
		background-color: $body-bkgd;
		box-shadow: 0 0 10px rgba($text-med, 0.6);
	}

	&:focus {
		outline: 5px solid $accent-light;
	}

	@include bp(med) {
		margin: 0;
	}

}

.project-not-featured {
	@include bp(med) {
		grid-row: span 2;
		grid-column: span 1;

		@include bp(large) {
			display: grid;
			grid-template-rows: 350px auto;
		}

		flex-direction: column; // Flexbox fallback
	}
}

.project-featured {
	@include bp(large) {
		height: 70vh;
	}

	@include bp(med) {
		grid-row: span 2;
		grid-column: 1 / -1;

		@include bp(large) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	@include bp(large) {
		&:hover,
		&:focus {
			transform: translateX(-30px);
		}
	}
}

.project-thumb {
	order: 0;
	overflow: hidden;
	position: relative;
	border: 1px solid $accent-light;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.project-featured & {
		height: 50vh;
		overflow: hidden;
		@include bp(large) {
			height: inherit;
		}
	}
}

.long-thumb {
	will-change: transform;
	// TODO might be nice to add this in JS as an "animating" class
	.tease-project:hover &,
	.tease-project:focus & {
			animation: scroll-page 15s forwards;
			animation-delay: 0.5s;
	}
}

.project-content {
	padding: $grid-gap;
	order: 1;

	.project-featured & {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.project-not-featured & {
		grid-row: 2;
	}
}

.project-tease-tagline {
	margin-bottom: $base;
}

.project-tease-title {
	margin-top: 0;
	font-size: $h3;
	// @include upperspace;

	> a {
		color: $text-dark;
		border-bottom: none;
	}
}

.project-types {
	@include upperspace;
	@include meta($text-med);
}



// ----
// Single
// ----

.project-header {
	// padding-top: 30%;
	padding-top: 20vh;
	position: relative;
	overflow: hidden;

	@include bp(med) {
	}

	.mask {
		padding-top: $h1;
		background-image: linear-gradient(
				to top,
				$body-bkgd,
				rgba($body-bkgd, 0.8) 60%,
				rgba($body-bkgd, 0));
		@include bp(med) {
			background-image: linear-gradient(
				to top,
				$body-bkgd,
				rgba($body-bkgd, 0.7) 50%,
				rgba($body-bkgd, 0));
			}
	}

	.inner	{
		margin-top: $h1;
		@include bp(large) {
			min-height: 8vh;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	.module-content {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		padding-left: $grid-gap;
		padding-right: $grid-gap;
		padding-top: $grid-gap;

		background: $body-bkgd;

		@include bp(large) {

			margin-left: -$grid-gap;
			margin-right: -$grid-gap;
			width: calc(100% + #{$grid-gap * 2});
			// padding: 0;
			// border-top: 5px solid $accent-light;
			// border-right: 5px solid $accent-light;
			// border-left: 5px solid $accent-light;
		}
	}
}

.project-title {

}

.project-header-intro {

}

.project-header-image {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: -1;
}

.project-title {
	// text-transform: uppercase;
	font-size: $h1*1.5;
	line-height: $line-height-sm;
}



// Fallback
@include grid(no) {
	.project-thumb {
		width: 33%;

		.-featured & {
			width: 100%;
		}
	}
}