
// Main page styles

.page-template-page-portfolio {
	// background-image: linear-gradient(to bottom right, $accent-med, $l-teal);

	.main-header {
		// background-image: linear-gradient(to bottom right, $yellow, $pink);
	}
}


// ----
// Project Tease
// ----

// Projects grid on page-portfolio.twig
.grid-projects {
	// display: grid;
	// grid-template-rows: minmax(200px, auto);
	// grid-auto-flow: row dense;

	padding-left: $grid-gap;
	padding-right: $grid-gap;

	// Two columns on large
	@include bp(med) {
		grid-row-gap: $grid-gap * 2;
		grid-column-gap: $grid-gap;
		grid-template-columns: repeat(2, 1fr);
		align-items: start;
		// margin-right: $grid-gap;
	}

	// Flexbox fallback
	@include grid(no) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		> * {
			width: 32%;
		}
	}
}

// TODO: credit scott kellum's site for scroller
.project {
	// box-shadow: 0 0 10px rgba($text-med, 0.6);
	background: $white;
	border: 1px solid $accent-light;
	margin-left: -$grid-gap;
	margin-right: -$grid-gap;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	&:focus {
		outline: 5px solid $accent-light;
	}

	@include bp(med) {
		margin: 0;
	}

}

.project-not-featured {
	@include bp(med) {
		grid-row: span 2;
		grid-column: span 1;

		@include bp(large) {
			// display: grid;
			// grid-template-rows: 350px auto;
			// grid-auto-flow: row dense;
		}

		flex-direction: column; // Flexbox fallback
	}
}

.project-featured {
	@include bp(med) {
		min-height: 70vh;
		grid-row: span 2;
		grid-column: 1 / -1;

		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.project-thumb {
	order: 0;
	overflow: hidden;
	position: relative;
	min-height: 30vh;
	border: 1px solid $accent-light;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.project-featured & {
		overflow: hidden;
		// height: inherit;
	}

	.project-not-featured & {
		width: 100%;
	}
}

.long-thumb {
	will-change: transform;
	// TODO might be nice to add this in JS as an "animating" class
	.project:hover &,
	.project:focus & {
			animation: scroll-page 15s forwards;
			animation-delay: 0.5s;
	}
}

.project-content {
	padding: $grid-gap;

	.project-featured & {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.project-not-featured & {
		grid-row: 2;
	}
}

.project-tease-desc {
	// font-size: $sml;
}

.project-tease-title {
	margin-top: 0;
	font-size: $h3;
	// @include upperspace;

	> a {
		color: $text-dark;
		border-bottom: none;
	}
}

.project-types {
	@include upperspace;
	@include meta($text-med);
}



// ----
// Single
// ----

.project-header {
	color: $text-light;
	margin-bottom: $h2;
	background: $accent-vdark;
	padding-top: $h1;
	padding-bottom: $h1;
}

.header-testimonial {
	background: linear-gradient(to bottom right, rgba($accent-dark,0.8), $accent-vdark);
	padding: $h4;
}

.project-title {

}

.project-header-intro {

}

.project-header-image {
	// position: absolute;
	// width: 100%;
	// top: 0;
	// z-index: -1;
}

.project-header-title {
	margin-top: 0;
}

.project-title {
	font-size: $h1*1.5;
	line-height: $line-height-sm;
}



// Fallback
@include grid(no) {
	.project-thumb {
		width: 33%;

		.-featured & {
			width: 100%;
		}
	}
}