

// Section nav on pages

.nav-rail {
  position: sticky;
  top: 0;
}

.section-nav-title {
  font-size: $sml;
  @include upperspace;
  font-weight: $font-weight-strong;
}

.section-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: $grid-gap;

  background: white;
  width: 100%;
  z-index: 99;

  @include bp(large) {
    position: relative;
    margin-top: $h1;
    border-right: $accent-border;
    padding-right: $grid-gap;
    padding-left: $grid-gap / 2;
  }
}

.section-nav-items {
  display: flex;
  flex-wrap: wrap;
  @include unstyle-list;
  padding-left: 0;

  @include bp(med) {
    display: block;
  }


  > li {
    padding-right: $sml;
    @include bp(med) {
      padding-right: 0;
    }
  }

  a {
    @include meta($color: $accent-dark);
  }

}



