

// Section nav on pages

.section-nav-title {
  font-size: $sml;
  @include upperspace;
  font-weight: $font-weight-strong;
  margin-top: $h1;
}

.section-nav {
  // position: fixed;
  // bottom: 0;
  // left: 0;

  // background: white;
  // width: 100%;
  // z-index: 99;

  @include bp(large) {
    padding-right: $sml;
    text-align: right;
    // border-right: $accent-border;
  }
}

.section-nav-items {
  display: flex;
  flex-wrap: wrap;
  @include unstyle-list;
  padding-left: 0;

  @include bp(large) {
    display: block;
  }

  > li {
    padding-right: $sml;
    @include bp(med) {
      padding-right: 0;
    }
  }

  a {
    @include meta($color: $accent-dark);
  }

}



