

// Section nav on pages


.section-nav-title {
  font-size: $sml;
  @include upperspace;
  font-weight: $font-weight-strong;
  // padding-top: 0;
  margin-top: 0;
  // margin-top: $h1;
  // @include bp(large) {
  //   margin-top: $h1*2;
  // }
}

.section-nav {
  // position: fixed;
  // bottom: 0;
  // left: 0;

  // background: white;
  // width: 100%;
  // z-index: 99;
  @include bp(large) {
    // display: flex;
    // align-items: center;
    padding-right: $sml;
    // text-align: right;
    // border-right: $accent-border;
  }
}

.section-nav-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include unstyle-list;
  padding-left: 0;

  @include bp(large) {
    display: block;
  }

  > li {
    padding-right: $sml;
  }

  a {
    @include meta($color: $accent-dark);
  }

}



