
.main-aside {
	margin-top: $grid-gap;
	padding-right: $grid-gap;
	padding-left: $grid-gap;

	@include bp(med) {
		padding-right: 0;
	}
}

.main-aside > .widgets {
	@include grid(yes) {
		@include bp(small) {
			display: grid;
			grid-auto-flow: column dense;
			grid-column-gap: $grid-gap;
			align-items: start;
		}
	}

  @include bp(large) {
    display: block;
  }
}


.widget {

	.-blog & {
		//color: $text-light;
		margin-bottom: $grid-gap;
		padding-bottom: $grid-gap;
		padding-top: $grid-gap;

		@include bp(med) {
			padding-right: $grid-gap;
		}

		a {
			//color: $text-light;
			&:hover {
				// color: $accent-light;
			}
		}
	}
}


.widget-title {
	margin-top: 0;
	margin-bottom: $base;
	font-size: $base;
	@include upperspace;

	&.-hello {
		margin-top: $grid-gap;
	}
}

.people-list {
	@include unstyle-list;
	margin-top: $sml;
	display: flex;
	flex-wrap: wrap;

	li {
		margin-bottom: $sml/2;
		margin-right: $sml/2;
	}

	a {
		padding: $sml/4 $sml/2;
		display: inline-block;
		background-image: linear-gradient(to right, $accent-med, darken($accent-med, 10%));
		color: $text-light;
		// border-bottom: 0;

		&:hover {
			@include bp(med) {
				transition: 0.2s ease all;
				transform: scale(1.1);
			}
		}
	}

}

.pocket-list {
	border-top: $base;
	list-style: none;
	padding-left: $sml;

	li {
		will-change: transform;
		position: relative;
		margin-bottom: $sml/2;

		&:before {
			position: absolute;
			left: -$sml;
			content: '\000BB';
			color: $l-teal;
		}

		&:hover {
			@include bp(med) {
				transition: 0.2s ease all;
				transform: translateX(5px);
				&:before {
					color: $accent-dark;
				}
			}
		}
	}
}
