
.site-header {
  // position: fixed;
  // z-index: 99;
  // width: 100%;

  padding-top: $grid-gap/2;
  padding-bottom: $grid-gap/2;
  border-bottom: $accent-border;
  margin-bottom: $grid-gap/2;
  background: $accent-vdark;
}

.site-main {
  // padding-top: $h2;
}

.logo-img {
  height: 100px;
  margin-right: $grid-gap;
  margin-bottom: -$grid-gap;
  margin-top: -$grid-gap;
}

.site-header > .inner {
  padding-left: $grid-gap;
  padding-right: $grid-gap;

  display: flex;
  align-items: center;

  @include bp(med) {
  }
  // grid-template-columns: 50% 50%;
  // grid-template-rows: minmax(auto, 100px) 1fr;

  // @include bp(med) {
  //   grid-template-rows: 1fr;
  //   grid-template-columns: minmax(auto, 100px) 3fr 1fr;
  //   grid-template-areas:
  //     "logo nav icon";
  //  }

}

.site-header svg {
  width: 150px;
  // max-width: 40vw;
}

.site-logo-link {
  svg {
    fill: $accent-vlight;
  }

  @include bp(med) {
    // padding-bottom: $base;
  }
}

.site-icon {
  color: $text-light;
}

.site-nav {
  margin-left: auto;
  @include bp(med) {
    margin-left: 0;
  }
}
