
// ----
// Navigation
// ----



.site-nav {


}


// Fixed button. Bottom right at xsmall,
// Top right at small-med
.menu-btn {
	@include button($alert-danger);
	position: fixed;
	z-index: 100;
	top: $base;
	right: $base;

	@include bp(small) {
		top: $base;
		bottom: auto;
	}

	@include bp(med) {
		display: none;
	}
}

.menu-list {
	@include unstyle-list();
	margin-bottom: 0;
	right: -500vh;

	position: fixed;
	top: 0;
	z-index: 99;
	min-width: 50vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;

	background-image: linear-gradient(to top, $accent-vdark, rgba($accent-vdark, 0.9));
	transition: all 0.6s ease-out;

	&.js-open {
		right: 0;
	}

	@include bp(med) {
		display: flex;
		flex-direction: row;
		height: auto;
		min-width: auto;
		position: static;

		margin-left: $grid-gap;
		margin-right: 0;
		width: auto;
	}
}

.menu-item-link {
	font-size: $h4;
	font-weight: $font-weight-strong;
  display: block;
	padding: $sml $grid-gap;
	color: $accent-vlight;
	border: 0;

  @include bp(med) {
		font-size: $base;
		font-weight: $font-weight-base;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-top: $xsml;
		padding-bottom: $xsml;

    .current-menu-item &,
    .current_page_item & {
      border-bottom: $accent-border;
      border-top: $accent-border;
    }

    &:hover {
      color: $accent-vlight;
      background-color: transparent;
      border-bottom: $accent-border;
      border-top: $accent-border;
    }
  }

}









