
.site-header {
  // position: fixed;
  z-index: $ztop;
  width: 100%;
  top: 0;
  background: $accent-dark;
}

.site-main {
  // padding-top: $grid-gap;
}

.logo-img {
  height: 100px;
  margin-right: $grid-gap;
  margin-bottom: -$grid-gap;
  margin-top: -$grid-gap;
}

.site-header > * {

  display: flex;
  align-items: center;

  @include bp(med) {
  }
  // grid-template-columns: 50% 50%;
  // grid-template-rows: minmax(auto, 100px) 1fr;

  // @include bp(med) {
  //   grid-template-rows: 1fr;
  //   grid-template-columns: minmax(auto, 100px) 3fr 1fr;
  //   grid-template-areas:
  //     "logo nav icon";
  //  }

}

.site-header svg {
  width: 150px;
  padding-top: $sml;
  padding-bottom: $sml;

}

.site-logo-link {
  svg {
    fill: $accent-vlight;
  }

  @include bp(med) {
    // padding-bottom: $base;
  }
}

.site-icon {
  color: $text-light;
}

.site-nav {
  margin-left: auto;
  @include bp(med) {
    margin-left: 0;
  }
}
