
.site-header {
  // background-image: linear-gradient($accent-vdark, transparent);
  // position: fixed;
  // width: 100%;
  // background-image: linear-gradient($accent-dark, $accent-vdark);
  // background-color: $accent-vdark;
  padding-top: $grid-gap;
  padding-bottom: $grid-gap;
  // margin-bottom: $grid-gap;
}

.logo-img {
  height: 100px;
  margin-right: $grid-gap;
  margin-bottom: -$grid-gap;
  margin-top: -$grid-gap;
}

.site-header > .inner {
  padding-left: $grid-gap;
  padding-right: $grid-gap;

  display: flex;
  flex-direction: column;

  @include bp(med) {
    flex-direction: row;
  }
  // grid-template-columns: 50% 50%;
  // grid-template-rows: minmax(auto, 100px) 1fr;

  // @include bp(med) {
  //   grid-template-rows: 1fr;
  //   grid-template-columns: minmax(auto, 100px) 3fr 1fr;
  //   grid-template-areas:
  //     "logo nav icon";
  //  }

}

.site-header svg {
  width: 200px;
  max-width: 40vw;
}

.site-logo-link {
  svg {
    // fill: $accent-dark;
  }

  @include bp(med) {
    // padding-bottom: $base;
  }
}

.site-icon {
  color: $text-light;
}

