
// ----
// Navigation
// ----




// Fixed button. Bottom right at xsmall,
// Top right at small-med
.menu-btn {
	// @include button($accent-dark);
	position: relative;
	z-index: $ztiptop;
	right: -$base;
	background: $accent-med;
	font-weight: $font-weight-strong;
	border-top: 5px solid $accent-dark;
	border-bottom: 5px solid $accent-dark;
	border-right: none;
	border-left: none;
	color: $text-light;
	display: flex;
	align-items: center;

	&:after {
		position: relative;
		bottom: 2px;
		padding-left: $xsml*0.75;
		content: ' \0002B';
		transform: scale(2);
		font-weight: $font-weight-base;
	}

	&.js-open {
		&:after {
			content: ' \000D7';
		}
	}

	@include bp(small) {
		// top: $base;
		// bottom: auto;
	}

	@include bp(med) {
		display: none;
	}
}

.menu-list {
	@include unstyle-list();
	margin-bottom: 0;
	right: -100%;

	position: fixed;
	top: 0;
	z-index: $ztop;
	min-width: 50vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;

	transition: all 0.25s ease-out;

	&.js-open {
		background-color: $accent-vdark;
		border-left: 5px solid $accent-dark;
		@include bp(med) {
			background: none;
		}
		// border-left: 5px solid $accent-dark;
		right: 0;
	}

	@include bp(med) {
		display: flex;
		flex-direction: row;
		height: auto;
		min-width: auto;
		position: static;

		margin-left: $grid-gap;
		margin-right: 0;
		width: auto;
	}
}

.menu-item-link {
	font-size: $h4;
	font-weight: $font-weight-strong;
  display: block;
	padding: $grid-gap $h2;
	color: $text-light;
	border-bottom: 0;

  @include bp(med) {
		font-size: $base;
		color: $text-light;

    // padding-top: $xsml;
		// padding-bottom: $xsml;

  }

	.current-menu-item &,
	.current_page_item & {
		background-color: $body-bkgd;
		color: $text-dark;
		// border-bottom: $accent-border;
		// border-top: $accent-border;
	}

	transition: 0.2s ease all;

	&:hover,
	&:focus {
		// color: $text-dark;
		background-color: $accent-med;
	}

}









