
// ----
// Navigation
// ----




// Fixed button. Bottom right at xsmall,
// Top right at small-med
.menu-btn {
	// @include button($accent-dark);
	position: relative;
	z-index: 99;
	right: -$base;
	.home & {
		background: $accent-light;
		border-top: 5px solid $accent-dark;
		border-bottom: 5px solid $accent-dark;
		border-right: none;
		border-left: none;
		color: $text-dark;
	}
	// position: fixed;
	// z-index: 100;
	// top: $base;
	// right: $base;

	@include bp(small) {
		// top: $base;
		// bottom: auto;
	}

	@include bp(med) {
		display: none;
	}
}

.menu-list {
	@include unstyle-list();
	margin-bottom: 0;
	right: -100%;

	position: fixed;
	top: 0;
	z-index: 98;
	min-width: 50vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;

	transition: all 0.25s ease-out;

	&.js-open {
		background-color: $accent-vdark;
		// border-left: 5px solid $accent-dark;
		right: 0;
	}

	@include bp(med) {
		display: flex;
		flex-direction: row;
		height: auto;
		min-width: auto;
		position: static;

		margin-left: $grid-gap;
		margin-right: 0;
		width: auto;
	}
}

.menu-item-link {
	font-size: $h4;
	font-weight: $font-weight-strong;
  display: block;
	padding: $grid-gap $h2;
	color: $text-light;
	border: 0;

  @include bp(med) {
		font-size: $base;
		color: $text-light;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    // padding-top: $xsml;
		// padding-bottom: $xsml;

    .current-menu-item &,
    .current_page_item & {
			background-color: $body-bkgd;
			color: $text-dark;
      // border-bottom: $accent-border;
      // border-top: $accent-border;
    }

    &:hover {
      color: $accent-med;
      background-color: transparent;
      border-bottom: $accent-border;
      border-top: $accent-border;
    }
  }

}









