@mixin js-reveal {
	.js & {
		visibility: hidden;
		opacity: 0;
	}
}

.js .js-typed-src {
	@include visually-hidden;
}

.js .js-hidden {
	opacity: 0;
	transition: .2s ease all;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

// .home .main-content .inner {
	// padding-left: 0;
	// padding-right: 0;
// }

// .front-page-header {
// 	background-size: 100% auto;
// 	background-repeat: no-repeat;
// 	background-position: bottom right;

// 		@include bp(large) {
// 			background-size: auto 100%;
// 		}
// 	// display: flex;
// 	// align-items: flex-start;
// 	// padding-top: 5rem;

// }

.scene {
	// min-height: 200vh;
	// margin-bottom: 50vh;

	@include bp(med) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// height: 80vh;
	// padding-top: $h1;
	// margin-top: $h2;
	// overflow: auto;
}

.scene > * {
	// max-width: 600px;
}

.panel-decor {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: $zbase;

	@include bp(small) {
		max-width: 60vw;
	}

	&.-image {
		@include bp(med) {
			max-width: 40vw;
		}
	}
}

.decor-img {
	display: block;
}

.panel {
}

.panel-tab {
	width: 100%;
	@include grid(yes) {
		@include bp(med) {
			display: grid;
			grid-template-columns: minmax(auto, 600px) minmax(200px, auto);
			grid-column-gap: $grid-gap;
		}
	}

	&.-illustrated {

	}
}

.panel-content {
	max-width: 600px;
	@include grid(yes) {
		grid-column: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.panel-img {
	@include grid(yes) {
		grid-column: 2;
		min-height: 50vh;
	}

	@include grid(no) {
		margin-top: $grid-gap;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&.-llama {
		@include grid(yes) {
			display: grid;
			grid-template-rows: auto minmax(50px, 100px);
		}
		padding-top: $h2;
		background-image: linear-gradient(to top, lighten($accent-med,20%), $white);
	}
}

#llama {
	display: block;
	margin: 0 auto;

	@include grid(yes) {
		grid-row: 1;
		align-self: end;
	}

}

.ground {
	grid-row: 2;
	background: linear-gradient(to top, lighten($groundColor, 10%), $groundColor);
	margin-top: -$grid-gap;
}

.panel-content,
.btn-next {
	position: relative;
	z-index: $zback;
}

.panel {
	padding: $grid-gap;
	min-height: calc(100vh - #{$grid-gap*3.5}); // Minus nav-height/.site-main top padding
	overflow: hidden;
	position: relative;
	background-color: $white;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	border: 5px solid $accent-light;

	@include bp(med) {
		justify-content: center;
		padding-left: $grid-gap*2;
		padding-right: $grid-gap*2;
		min-height: 80vh;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}

	&.-tabbed {
		@include bp(med) {
			// @include grid(yes) {
			// 	display: grid;
			// 	grid-template-columns: repeat(2, 1fr);
			// 	grid-column-gap: $grid-gap;
			// }
			// @include grid(no) {
			// 	display: flex;
			// 	justify-content: space-between;
			// 	> * {
			// 		width: 48%;
			// 	}
			// }
		}
	}

	&:focus {
		transition: .2s ease all;
		outline: none;
		background-color: $white;
		border-color: $accent-med;
	}

	&.js-incomplete {
		// height: 10px;
	}

	&.js-complete {
		// background-color: $accent-light;
	}
}


.panel-title {
	padding-top: 0;
	margin-top: 0;
}

.panel-list {
	@include unstyle-list;

	ul > li {
		margin-bottom: $sml;
	}
}

.panel-list-item-title {
	@include upperspace;
}

.rotate-colors {
	animation: rotate-text-color 10s forwards;
}

.highlight {
	font-size: $h4;
	font-weight: $font-weight-strong;
	line-height: $line-height-sm;
	@include upperspace;
}

.highlight-letter {
	font-weight: $font-weight-strong;
	animation: rotate-text-color 2s infinite;
}

.btn-next {
	@include button($accent-dark);
	font-size: $h4;
	display: inline-block;
	margin-top: $grid-gap;

	&:hover,
	&:active,
	&:focus {

		@include bp(med) {
			img {
				transition: 0.2s transform ease;
				transform: rotate(-20deg);
			}
		}
	}

	&:active {
		img {
			transform: rotate(0deg);
		}
	}

	&.js-selected {
		border: 3px solid $accent-light;
		background-color: $accent-med;
	}
}


.js-reveal {
	@include js-reveal;
	@include accelerate(transform);
}

.decision-btns {
	margin-top: $grid-gap;
	margin-bottom: $grid-gap;
}

.panel-indicator {
	font-size: $sml;
	@include upperspace;
	color: $accent-med;
}

.skip-typing-btn {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 101;
}