@mixin js-reveal {
	.js & {
		visibility: hidden;
		opacity: 0;
	}
}

.js .js-typed-src {
	@include visually-hidden;
}


.home .main-content .inner {
	padding-left: 0;
	padding-right: 0;
}

.front-page-header {
	// padding-top: $h1*2;

	// display: flex;

	// background-image: linear-gradient(to top right, $accent-light, $white);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom right;

		@include bp(large) {
			background-size: auto 100%;
		}
	// display: flex;
	// align-items: flex-start;
	// padding-top: 5rem;

}

.scene {
	min-height: 200vh;
	margin-bottom: 50vh;

	@include bp(med) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	// height: 80vh;
	// padding-top: $h1;
	// margin-top: $h2;
	// overflow: auto;
}

.scene > * {
	// max-width: 600px;
}

.panel-decor {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: $zbase;

	@include bp(small) {
		max-width: 60vw;
	}
	@include bp(med) {
		max-width: 40vw;
	}
}

.decor-img {
	display: block;
}

.panel-content {
	max-width: 600px;
}

.panel-content,
.btn-next {
	position: relative;
	z-index: $zback;
}

.panel {
	padding: $grid-gap;
	min-height: calc(100vh - #{$grid-gap*3.5}); // Minus nav-height/.site-main top padding
	overflow: hidden;
	position: relative;
	background-color: $white;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	border: 5px solid $accent-light;

	@include bp(med) {
		justify-content: center;
		padding-left: $grid-gap*2;
		min-height: 80vh;
		margin-top: 5vh;
		margin-bottom: 5vh;
	}

	&.-tabbed {
		@include bp(med) {
			// @include grid(yes) {
			// 	display: grid;
			// 	grid-template-columns: repeat(2, 1fr);
			// 	grid-column-gap: $grid-gap;
			// }
			// @include grid(no) {
			// 	display: flex;
			// 	justify-content: space-between;
			// 	> * {
			// 		width: 48%;
			// 	}
			// }
		}
	}

	&:focus {
		transition: .2s ease all;
		outline: none;
		background-color: $white;
		border-color: $accent-med;
	}

	&.js-incomplete {
		// height: 10px;
	}

	&.js-complete {
		// background-color: $accent-light;
	}
}


.panel-tab {
	&.js-hidden {
		.js & {
			opacity: 0;
			transition: .2s ease all;
			height: 1px;
			width: 1px;
		}
	}
	@include bp(med) {}
}

.panel-svg {
	@include bp(med) {
		// display: flex;
		// flex-direction: column;
		// justify-content: flex-end;
		// grid-column: span 2;
	}
}

.panel-title {
	padding-top: 0;
	margin-top: 0;
}

.panel-list {
	@include unstyle-list;

	ul > li {
		margin-bottom: $sml;
	}
}

.panel-list-item-title {
	@include upperspace;
}

.rotate-colors {
	animation: rotate-text-color 10s forwards;
}

.highlight {
	font-size: $h4;
	font-weight: $font-weight-strong;
	line-height: $line-height-sm;
	@include upperspace;
}

.highlight-letter {
	font-weight: $font-weight-strong;
	animation: rotate-text-color 2s infinite;
}

.btn-next {
	@include button($accent-dark);
	font-size: $h4;
	display: inline-block;
	margin-top: $grid-gap;

	&:hover,
	&:active,
	&:focus {

		@include bp(med) {
			img {
				transition: 0.2s transform ease;
				transform: rotate(-20deg);
			}
		}
	}

	&:active {
		img {
			transform: rotate(0deg);
		}
	}

	&.js-selected {
		border: 3px solid $accent-light;
		background-color: $accent-med;
	}
}


.js-reveal {
	@include js-reveal;
	@include accelerate(transform);
}

.decision-btns {
	margin-top: $grid-gap;
	margin-bottom: $grid-gap;
}

.decision-indicator {
	font-size: $sml;
	@include upperspace;
	color: $accent-med;
}

.skip-typing-btn {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 101;
}