
.tease-post {
	margin-bottom: $h1*2;

	.module-content {
		@include bp(small) {
			padding: $grid-gap/2 $grid-gap $grid-gap $grid-gap;
			background: $white;
			border: $accent-border;
		}
	}

	.module-header {
		display: flex;
		align-items: center;
	}
}

.tease-thumbnail {
	border: $accent-border;
	display: block;
}

.tease-meta {
	color: $text-light;
	border-top: $accent-border;
	padding: $sml;
	border-bottom: none;

	> * {
		display: inline-block;
		margin-right: $base;
	}

	@include bp(med) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}

.meta-date {
	margin-top: 0;
}

.tease-title {
	margin-top: $base;
	margin-bottom: $base;
}

.tease-title-link {
	font-size: $h2;
	color: $link-color;
	border-bottom: none;
}

.tease-project {
	&:first-child {
		padding-top: $h3;
	}
	margin-bottom: $h3;
	padding-bottom: $h3;

	@include bp(large) {
		&:first-child {
			padding-top: $h1;
		}
		margin-bottom: $h1;
		padding-bottom: $h1;
	}

	border-bottom: $accent-border;

	@include bp(large) {
		display: flex;

		> * {
			// TODO new styles needed
			// @include make-md-column(4);
		}
	}

	img {
		border: 5px solid $accent-light;
		@include bp(med) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.tease-tax {
	margin-top: auto;
}

.tease-info {
	display: flex;
	flex-direction: column;
}

.tease-thumb {
	@include bp(large) {
		width: 45%;
	}
}

	.thumb-title {
		margin-top: $sml;
		margin-bottom: $sml;

		> a {
			border-bottom: 0;
		}
	}

.tease-tagline {
	margin-top: 0;
	margin-bottom: $sml;
}
