{% extends "base.twig" %}

{% block header %}
	<header class="page-header">

		<h1 class="page-title">Whoops.</h1>
		<p class="page-tagline">Looks like this page no longer exists!</p>

	</header> <!-- /.page-header -->
{% endblock %}

{% block content %}

	<img class="center-block spacer-top spacer-bot" src="http://notlaura.com/wp-content/uploads/2015/04/feebs6.png" alt="">
	<p class="text-center spacer-bot">But maybe this cute doggy will help you feel better.</p>

{% endblock %}
