{% extends "base.twig" %}

{% block content_head %}
	<header class="page-header">

	<div class="contain-md">

		<h1 class="page-title">Whoops.</h1>
		<p class="page-tagline">Looks like this page no longer exists!</p>

		<figure class="bleed">
			
		</figure>
	</div>

</header> <!-- /.page-header -->

{% endblock %}

{% block content %}
	<div class="contain-md">
		<img class="center-block spacer-top spacer-bot" src="http://notlaura.com/wp-content/uploads/2015/04/feebs6.png" alt="">
		<p class="text-center spacer-bot">But maybe this cute doggy will help you feel better.</p>
	</div>	
{% endblock %}