<div class="inner-pad">
	<ul class="widgets -footer">

		<li class="widget">
			<h4 class="widget-title">Connect</h4>
			<p>I love meeting people, both in the real world and through online means. Let's be friends!</p>
			{% include "partials/social.twig" %}
		</li>

		<li class="widget">
			<h4 class="widget-title">Email List</h4>
			<div id="mc_embed_signup mc-signup">
				<form action="//notlaura.us2.list-manage.com/subscribe/post?u=e2b9ece9d65b984fa3652e930&amp;id=453ea4a7b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mc-form" target="_blank" novalidate>
					<label class="screen-reader" for="EMAIL">Email Address</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="milk@honey.com" required>
					<div class="visually-hidden">
						<input type="text" name="b_e2b9ece9d65b984fa3652e930_453ea4a7b0" tabindex="-1" value="">
					</div>
					<div class="label">
						<label class="screen-reader" for="subscribe">Sign Up</label>
						<input type="submit" value="Sign up!" name="subscribe" id="mc-embedded-subscribe" class="button">
					</div>
				</form>
			</div>
			<p class="mc-prompt">Sign up for infrequent yet helpful links and updates now and again.</p>
		</li>

		<li class="widget">
			<h4 class="widget-title">Friendly Monsters</h4>
			<p>A non-computer hobby of mine is illustrating friendly monsters, usually on the iPad. There is now a special page on this site for these monsters, how nice!</p>
			<p><a href="/monsters" class="btn">See Some Cute Monsters</a></p>
		</li>

	</ul>
</div>

<div class="footer-colophon">
	<div class="inner">
		<p class="credit">&copy; {{ "now"|date('Y') }} Lara Schenck, LLC. Powered by <a href="https://wordpress.org">WordPress</a> and <a href="https://upstatement.com/timber">Timber</a>, hosted by <a href="https://webfaction.com" target="blank">WebFaction</a>. Source <a href="https://github.com/laras126/notlaura.com">on Github</a>.</p>
	</div>
</div>

