
<div class="contain-lg">

	<div class="widget">
		<ul class="list-social">
			{% for type, url in social %}
				<li>
					<a href="{{url}}" target="blank">
	                    {% include 'partials/svg.twig' with {'file': type, 'prefix': 'icon' } %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div> <!-- /.list-social -->

	<div class="mc-signup widget">
		<div id="mc_embed_signup" class="clearfix">
			<form action="//notlaura.us2.list-manage.com/subscribe/post?u=e2b9ece9d65b984fa3652e930&amp;id=453ea4a7b0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="milk@honey.com" required>
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_e2b9ece9d65b984fa3652e930_453ea4a7b0" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Sign up!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
		</div> 
		<p class="mc-prompt">Sign up for helpful links and updates now and again.</p>

	</div> <!-- /.mc-signup -->

</div>
<ul class="items">
	
</ul>
