{% extends "base.twig" %}

{% block header %}{% endblock %}

{% block content %}

	<div class="tease-loop grid-loop">
		{% for post in posts %}
			{% include 'teases/tease-post.twig' %}
		{% endfor %}
	</div>

	<nav class="prevnext-nav">
		{% if pagination.next %}
			<a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">&larr; Older Posts</a>
		{% endif %}

		{% if pagination.prev %}
			<a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Newer Posts &rarr;</a>
		{% endif %}
	</nav> <!-- /.pagination -->

{% endblock %}
