{% extends "base.twig" %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}

	{# <section class="module"> #}

		{# <div class="module-rail">
			<nav class="section-nav">
				<p class="section-nav-title">Filter</p>
				<ul class="section-nav-items">
					{% for t in types %}
					<li><a href="">{{t.name}}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div> #}

		<div class="tease-loop grid-projects">
		{% for post in projects %}
			{% include 'teases/tease-project.twig' %}
		{% endfor %}
		</div>

	{# </section> #}

{% endblock %}

{% block sidebar %}
	<ul class="widgets -blog">
		<div class="module-content">
			<h1 class="header-title">{{post.title}}</h1>
			<p class="header-lead">{{post.intro}}</p>
			<p>{{post.para_intro}}</p>
		</div>
	</ul>
{% endblock %}
