{% extends "base.twig" %}

{% set menu_link_id = section.menu_item_title|sanitize %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	{% if post.get_field('sections') %}

		<div class="module">

			<div class="module-rail">
				{% block top_rail_content %}{% endblock %}
				{% include 'partials/section-nav.twig'%}
			</div>

			<div class="module-content">
				{{post.content}}
			</div>

		</div>

		{% include 'partials/section-loop.twig'%}

	{% else %}
		<div class="module">

			<div class="module-content">
				{{post.content}}
			</div>

		</div>
	{% endif %}


{% endblock %}

