{% extends "base.twig" %}

{% block header %}

<header class="main-header {{ '-' ~ post.header_type }}">

<div class="inner-pad">

		<div class="module -article">
			<div class="module-content">
				<h1 class="header-title">Portfolio</h1>
				<p class="header-lead">Case studies from projects I've completed as an independent consultant.</p>
				<p>My independent client work has ranged from custom WordPress theme builds to branding to front-end UI development and refactors with startups. Working independently has allowed me the ability to pursue my teaching career as well, notably the development of a set of online courses and a tutoring business I called the Tackle Box.</p>
			</div>
		</div>

</div>
</header>
{% endblock %}

{% block content %}

	<div class="tease-loop grid-projects">
	{% for post in projects %}
		{% include 'teases/tease-project.twig' %}
	{% endfor %}
	</div>

{% endblock %}

{% block sidebar %}
	<ul class="widgets -blog">
		<div class="module-content">
			<h1 class="header-title">{{post.title}}</h1>
			<p class="header-lead">{{post.intro}}</p>
			<p>{{post.para_intro}}</p>
		</div>
	</ul>
{% endblock %}
