{% extends "base.twig" %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	<section class="module">

		<div class="module-rail">
			<nav class="section-nav">
				<p class="upperspace meta">Filter</p>
				<ul class="section-nav-items">
					{% for t in types %}
					<li><a href="">{{t.name}}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div>

		<div class="module-header">
			<h2>Featured Work</h2>
		</div>

		<div class="module-content-full">
			<div class="grid-projects">
			{% for post in projects %}
				{% include 'teases/tease-project.twig' %}
			{% endfor %}
			</div>
		</div>

	</section>
{% endblock %}

{% block sidebar %}
	<aside class="main-aside">
		<h4>Some other stuff I do?</h4>
	</aside>
{% endblock %}
