{% extends "base.twig" %}

{% set menu_link_id = section.menu_item_title|sanitize %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	{% if post.get_field('sections') %}


		{# <div class="module">

			<div class="module-rail nav-rail">
				{% block top_rail_content %}{% endblock %}
				{% include 'partials/section-nav.twig'%}
			</div>

			<div class="module-content">
				{% if post.content %}
					{{post.content}}
				{% else %}
					{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
				{% endif %}
			</div>

		</div> #}

	{% include 'partials/section-loop.twig'%}

	{% else %}

		<div class="module">
			<div class="module-content">

				{% if post.get_field('blocks') %}
					{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
				{% else %}
					{{post.content}}
				{% endif %}

			</div>
		</div>
	{% endif %}


{% endblock %}

