{% extends "base.twig" %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
  {# TODO: maybe another name #}
	<div class="project-loop">

	{% for post in projects %}
		{% include 'teases/tease-project.twig' %}
	{% endfor %}

	</div>
{% endblock %}
