{% extends "base.twig" %}
{% set menu_link_id = section.menu_item_title|sanitize %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	<div class="module">

		<div class="module-rail">
			{% include 'partials/section-nav.twig'%}
		</div>

		<div class="module-content">
		{% for section in post.get_field('sections') %}

			<section class="page-section">

				{% include 'headers/header-section.twig' with { menu_link_id: menu_link_id} %}

				<div class="section-content" id="{{menu_link_id}}-content">
					{% include 'partials/flexcontent-logic.twig' with { elem: section.blocks } %}
				</div> <!-- /.section-content -->

			</section> {{menu_link_id ? '<!-- /#'~menu_link_id~' -->'}}

		{% endfor %}
		</div>
	</div>
{% endblock %}