{% extends "base.twig" %}

{% block content_head %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	<div class="contain-lg teases-wrap">

	{% for post in projects %}
		{% include 'teases/tease-project.twig' %}
	{% endfor %}

	</div>
{% endblock %}
