{% extends "base.twig" %}

{% block content %}

	{% include 'headers/header-page.twig' %}
	{% include 'partials/section-nav.twig'%}
	
	{% for section in post.get_field('sections') %}

		{% set menu_link_id = section.menu_item_title|sanitize %}
		{% set full = section.full_section %}

		{% if full %}
			<section class="page-section" id="{{menu_link_id}}">
		{% endif %}

			{% if full %}
				{% include 'headers/header-section.twig' %}
			{% endif %}

			{% include 'partials/flexcontent-logic.twig' %}
		
		
		{% if full %}
			</section> <!-- /#{{menu_link_id}} -->
		{% endif %}
	
	{% endfor %}
	
{% endblock %}