{% extends "base.twig" %}

{% set menu_link_id = section.menu_item_title|sanitize %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	<div class="module">

		<div class="module-rail">
			{% include 'partials/section-nav.twig'%}
		</div>

		<div class="module-content">
			{% include 'partials/section-loop.twig'%}
		</div>
	</div>
{% endblock %}

