{% extends "base.twig" %}

{% set menu_link_id = section.menu_item_title|sanitize %}

{% block header %}
	{% include 'headers/header-page.twig' %}
{% endblock %}

{% block content %}
	{% if post.get_field('sections') %}
		{% include 'partials/section-loop.twig'%}
	{% else %}

		<div class="module -article">
			<div class="module-content">

				{% if post.get_field('blocks') %}
					{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
				{% else %}
					{{post.content}}
				{% endif %}

				{{ block('after_content') }}

			</div>
		</div>
	{% endif %}

{% endblock %}

