<ul class="widgets -blog">
	<li class="widget">
		{{ include('partials/hello-widget.twig') }}
	</li>
	{{ blog_widgets }}
	{# <li class="widget">
		{{ include('partials/people-widget.twig') }}
	</li> #}
</ul>
