{% extends "base.twig" %}

{% block content_head %}
	{% include 'headers/header-single.twig' %}
{% endblock %}

{% block content %}

	<div class="contain-sm">

		{% if post.content %}
			{# Show post content for legacy posts. All new posts are created with blocks. #}
			<div class="entry-content">
				{{post.content}}
			</div>
		{% else %}
			{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
		{% endif %}
	
		{% include 'partials/edit-link.twig' %}
		{% include 'partials/prev-next.twig' %}

	</div>

{% endblock %}