{% extends "base.twig" %}

{% block header %}
	{% include 'headers/header-single.twig' %}
{% endblock %}

{% block content %}

	<div class="entry-wrap">

		<aside class="entry-aside">
			<p class="meta-greyed">Posted: {{post.date}}</p>
			{% if post.get_terms('tag') %}
				<p class="meta-greyed">Keywords:</p>
				<ul class="tags-list">
					{% for tag in post.get_terms('tag') %}
						<li><a href="{{tag.link}}" class="tag">{{tag.name}}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% include 'partials/edit-link.twig' %}
		</aside>

		{% if post.content %}
			{# Show post content for legacy posts. All new posts are created with blocks. #}
			<div class="entry-content">
				{{post.content}}
			</div>
		{% else %}
			{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}
		{% endif %}

	</div>

	{% include 'partials/prev-next.twig' %}

		<div class="comments" id="disqus_thread"></div>
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES * * */
		    var disqus_shortname = 'notlaura';

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function() {
		        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>

{% endblock %}
