{% extends "page.twig" %}

{% block content %}

	<div class="contain-sm">
	{% if content.acf_fc_layout == 'blocks' %}
        
        {% for blck in content.block_singles %} 

            {% if blck.acf_fc_layout == 'block_wysiwg' %}
        		{{blck.wysiwyg}}
        	{% endif %}
		
		{% endfor %}

	{% endif %}

	{% if post.content %}
		{{post.content}}
	{% endif %}
	</div>

{% endblock %}