{% extends "page.twig" %}

{% block content %}
	
	<div class="contain-md">
		{% if post.image %}
			<hr>
		{% endif %}
		
		<ul class="list-tags text-center">
			{% for type in post.get_terms('project-type') %}
				<li>{{type.name}}</li>
			{% endfor %}
			{% if post.project_link %}
				<li><a href="{{post.project_link}}" target="blank" class="btn">Launch project</a></li>
			{% endif %}
		</ul>
	</div>
	
	{% include 'partials/flexcontent-logic.twig' with { elem: post.get_field('blocks') } %}

{% endblock %}