{% if section.section_title %}

<header class="section-header{{section.css_class ? ' ' ~ section.css_class}}"{{section.menu_item_title ? ' id="'~menu_link_id~'"'}}>

	<h3 class="section-title">{{section.section_title}}</h3>

	{% if section.lead %}
		<p class="lead">{{section.lead}}</p>
	{% endif %}

</header> <!-- /.section-header -->

{% endif %}
