<header class="section-header">
	<div class="contain-sm">

		<hr class="bleed">
		<h3 class="section-title">{{section.section_title}}</h3>
		
		{% if section.lead %}
			<p class="lead">{{section.lead}}</p>
		{% endif %}
		
		
		<div class="row">
		<div class="half">
		<h5>Who</h5>
		Small businesses and individuals looking to build or redesign a WordPress website.	
		</div>
		<div class="half">
		<h5>How Much</h5>
		$1,500-$5,000.
		<h5>How Long</h5>
		1-3 months
	
		</div>

		</div>
		<br>
		{# {% if section.para_intro %}
			{{section.para_intro}}
		{% endif %}
		 #}
		

		{% if acc %}
			<a href="#{{menu_link_id}}" class="acc-link">Details &darr;</a>
		{% endif %}
	
	</div>
</header> <!-- /.section-header -->