<header class="front-page-header panel panel-1">

  <div class="grid-panel inner">
    <div class="panel-svg">{% include "svgs/lara-character.svg" %}</div>
    <div class="panel-desc">
      <div class="panel-inner">
        <h2 class="panel-title">Welcome! <br>My name is <span class="rotate-colors">Lara</span>.</h2>
        <p>Not
        <em>Laura</em>, though that's a nice name, too.</p>
        <p>I'm a <strong>front-end web developer</strong> in sunny Los Angeles. In addition to building things for the web, I love teaching what I know in the forms of tutoring and workshops.</p>
        {# <p>I also roast coffee, draw funny characters, and say hi to other people's dogs a little more than I should.</p> #}
        <p>Learn more about me and my story of origin, or skip to my <a href="/blog/">blog</a> or <a href="/blog/">portfolio</a>.</p>
        {% include "svgs/arrow-down.svg" %}
      </div>
    </div>
  </div>

</header>

<div class="panel panel-2">
  <div class="grid-panel">
    <div class="panel-svg">
        <p>And this is a picture of me at the beach &rarr;</p>
    </div>
    {% include "partials/srcset.twig" with { img: post.image, class: 'panel-desc' } %}
  </div>
</div>
