<header class="section-header">
	<div class="contain-sm">
		<hr class="bleed">
		<h3 class="section-title">{{section.section_title}}</h3>
		{% if section.lead %}
			<p class="lead">{{section.lead}}</p>
		{% endif %}
	</div>
</header>