
// Shameful and need-to-be-cleaned-up styles here.



.main-more {
    // BAD
    position: absolute !important;
    top: 40%;
    right: 0;
}

.prevnext-header {
    position: relative;
}


/*----- Section Content -----*/

.widgets {
    padding-top: $sml;
}

.half {
    @include make-xs-column($c * 1/2);
}



.alert-details {
    @extend .alert;
    h5 {
        margin-top: 0;
    }

    p {
        font-size: $sml;
    }
}


// Legacy styles for posts from old site

.fig-large {
    @include bleed;
}