
// Shameful and need-to-be-cleaned-up styles here.



.main-more {
    // BAD
    position: absolute !important;
}

.prevnext-header {
    position: relative;
}


.acc {
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
/*----- Section Titles -----*/
.acc-link {
    text-align: center;
    display: inline-block;
    font-size: $h4;
}
 
 
.acc-section:last-child .acc-link {
    border-bottom:none;
}
 
/*----- Section Content -----*/
.acc-content {
    padding:15px;
    display:none;
}



.widgets {
    padding-bottom: $sml;
    padding-top: $sml;
}

.half {
    @include make-xs-column($c * 1/2);
}



.alert-details {
    @extend .alert;
    h5 {
        margin-top: 0;
    }

    p {
        font-size: $sml;
    }
}