
.special,
a.special {
	color: $accent-dark;
}

.strike {
	position: relative;
}

	.strike:after {
		border-bottom: 2px solid $accent-med;
		position: absolute;
		content: '';
		right: 0;
		left: 0;
		top: 55%;
	}

.spacer-top {
	margin-top: $base;
}

.spacer-left {
	margin-left: $base;
}

.spacer-right {
	margin-right: $base;
}

.spacer-bot {
	margin-bottom: $base;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.rm-margin {
	margin: 0;
}

// WordPress utility classes

// .alignleft {
// 	float: left;
// }

// .alignright {
// 	float: right;
// }

.aligncenter {
	@include center-block;
}

.alignnone {
	display: block;
}
