
.rotate {

	&-dark {
		@include rotate($text-light, $text-dark);
	}

	&-med {
		@include rotate($text-light, $accent-med);
	}

	&-light {
		@include rotate($text-light, $accent-light);	
	}

	&-vlight {
		@include rotate($text-light, $accent-vlight);	
	}

	&-info {
		@include rotate($text-light, $alert-info);
	}
}

.rotate {
	@include rotate($text-light, $text-dark);
}

.special,
a.special {
	color: $accent-dark;
}

.special-alt,
a.special-alt {
	color: $accent-alt;
}


.space-hack-table {
	margin-left: $h3;
}

.spacer-top {
	margin-top: $h3;
}

.spacer-left {
	margin-left: $h3;
}

.spacer-right {
	margin-right: $h3;
}

.spacer-bot {
	margin-bottom: $h3;
}

