{% extends "blocks/block.twig" %}

{% block content %}
	
	<div class="contain-md {{blck.css_class}}">
		<p class="lead lead-cta">{{blck.cta_text}}</p>	
		<a href="{{blck.page_link ? blck.page_link : blck.text_link}}" class="btn-cta">{{blck.button_text}}</a>
	</div>

{% endblock %}