{% extends "blocks/block.twig" %}

{% block content %}
	{% if blck.text_format == 'caption'%}
		<figure class="fig-large">
			{% include "partials/srcset.twig" with { img: TimberImage(blck.image) } %}
			{% if blck.caption %}
				<figcaption class="caption-clear">{{blck.caption}}</figcaption>
			{% endif %}
		</figure>
	{% elseif blck.text_format == 'paragraph'%}
		{{blck.text|wpautop}}
		<div class="fig-large textimage-image">
			{% include "partials/srcset.twig" with { img: TimberImage(blck.image) } %}
		</div>
	{% endif %}
{% endblock %}
