{% extends "blocks/block.twig" %}

{% block content %}
	<div class="contain-sm">
	
	{% for related in blck.page %}
	
		<h5 class="related-title">{{related.post_title}}</h5>
		<p class="lead-cta">{{blck.description}}</p>
		<a class="link-more" href="{{related.guid}}">Read more</a>
		
	{% endfor %}
	
	</div>
{% endblock %}