{% extends 'blocks/block.twig' %}

{% block content %}
<div class="contain-md">
	<blockquote>
		{{blck.text}}
		<div class="meta-cite"><a href="{{blck.link}}" target="blank">{{blck.source}}</a></div>
	</blockquote>
</div>
{% endblock %}