{% extends 'blocks/block.twig' %}

{% block content %}
	<blockquote>
		{{blck.text}}
		<div class="meta-cite"><a href="{{blck.link}}" target="blank">{{blck.source}}</a></div>
	</blockquote>
{% endblock %}
