// Alerts

@mixin alert-color($color: $alert-warning) {  
    background-color: $color;
    border: 1px solid darken($color, 20%);
}

%alert,
.alert {
    padding: $base;
    margin-top: $base;
    margin-bottom: $base;
    @include bleed;
}

.alert-warning {
    @extend .alert;
    @include alert-color($alert-warning);
}

.alert-info {
    @extend .alert;
    @include alert-color($alert-info);
}

.alert-danger {
    @extend .alert;
    @include alert-color($alert-danger);
}

.alert-success {
    @extend .alert;
    @include alert-color($alert-success);
}