
// Buttons

.btn {
    @include button($accent-dark, $text-light);
}

%btn-block,
.btn-block {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-cta {
	@include button($alert-info);
    margin-top: $h4;
    font-size: $h4;
}

.btn-success {
	@include button($alert-success);
}

.btn-warning {
    @include button(desaturate(darken($alert-warning, 40%), 30%));
}



// Specific buttons

.more-arrow {
	will-change: left;

	.tease-project:hover & {
		position: relative;
		animation: back-forth 0.75s ease-in-out;
		animation-iteration-count: 2;
	}
}

.link-edit,
.link-more {
  text-align: center;
  margin-top: $sml;

}

.link-back-top .icon {
  display: block;
  margin: $h3 auto;
}

.read-more {
	display: inline-block;
}

.-has-icon {
	display: inline-flex;
	align-content: center;
	justify-content: flex-start;

	.icon-inline {
		will-change: transform;
		fill: $accent-light;
		margin-left: $sml;

		&:hover {
			fill: $accent-light; // override default icon style
		}
	}
}

.project-launch-btn {
	@extend .-has-icon;
	margin-bottom: $grid-gap;
	margin-top: $grid-gap;
	&:nth-child(2n) {
		margin-top: 0;
	}
}
