
// Buttons

%btn,
.btn {
    @include button($accent-dark, $text-light);
}

%btn-block,
.btn-block {
    width: 90%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-cta {
	@include button($alert-info);
    margin-top: $h4;
    font-size: $h4;
}

.btn-success {
	@include button($alert-success);
}

.btn-warning {
    @include button(desaturate(darken($alert-warning, 40%), 30%));
}



// Specific buttons

.link-more {
	@include button($alert-info);
}

.link-edit,
.link-more {
	@include meta;
  text-align: center;
  margin-top: $sml;
	font-weight: 700;
}

.link-back-top .icon {
  display: block;
  margin: $h3 auto;
}

.read-more {
	display: inline-block;
}
