
.callout {
	// border-top: $sml/2 solid $accent-dark;
	border-bottom: $sml/2 solid $accent-light;
	@include rotate($text-light, $accent-dark);
	padding: $sml;
	text-align: center;
	font-size: $sml;

	a {
		font-weight: 700;
	}
}
