// -----
// Form styles
// -----

label, select {
	display: block;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
	height: 200px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	padding: $sml/2 $base/2;
	background: $white;
	color: $body-text-clr;
	outline: 5px solid rgba($accent-vlight, 0);
	border: 1px solid $accent-light;
	font-family: $body-font;
	font-weight: 300;
	border-radius: 2px;
	transition: 0.2s ease all;

	&:focus {
		// border-color: $accent-med;
		outline: 5px solid $accent-light;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="email"],
input[type="reset"],
input[type="text"] {
	width: 100%;
	max-width: 400px;
}

input[type="submit"],
button {
	@include button($accent-dark);
	cursor: pointer;
	-webkit-appearance: none;
}

select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

input[type="file"] {
	font-size: $xsml;
	background-color: $accent-vlight;
	padding: $xsml $sml;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $accent-border;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Formidable

.frm_message,
.frm_error_style {
	padding: $grid-gap;
	background: $white;
	border: 5px solid $l-teal;

	p {
		margin-top: 0;
	}
}

.frm_hidden {
	@include visually-hidden;
}

.frm_submit {
	margin-top: $grid-gap;
}

.frm_error {
	font-size: $sml;
	color: $alert-danger;
}

.frm_required {
	color: $alert-danger;
}

.frm_primary_label {
	font-weight: $font-weight-strong;
	margin-bottom: $sml / 2;
	// @include upperspace;
	margin-top: $grid-gap;
}

.frm_description {
	font-size: $sml;
	// margin-top: $sml;
	margin-bottom: $sml;
}

.frm_form_fields > fieldset {
	padding: 0;
	border: 0;
	display: flex;
	// flex-direction:
	// border: 5px solid $accent-med;
	// background: $white;
}

.frm_half {
	width: calc(50% - #{$grid-gap/2});
	display: inline-block;
}

.frm_first {
	margin-right: $grid-gap;
}

.frm_full {
	width: 100%;
}


.frm_checkbox > label {
	display: flex;
	align-items: center;
	margin-bottom: $sml / 2;
	margin-top: $sml / 2;
	> input {
		margin-right: $sml;
	}
}


// Mailchimp

.mc-form {
	display: flex;
}

.mc-signup {
	margin-top: $h4;
	padding: $grid-gap/2;

	@include bp(small) {
		padding: 0;
	}

	.email {
		// TODO relayout this
		// @include make-xs-column($c);
		// @include make-sm-column($c * 2/3, false, false);
		padding: $sml $base;
		margin-bottom: $sml;
		text-align: center;

		@include bp(small) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			text-align: left;
			margin-bottom: 0;
		}

	}

	.button {
		// TODO check if messed up
		// @include make-xs-column($c);
		// @include make-sm-column($c * 1/3, false, false);
		@include button($accent-med);

		@include bp(small) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	}
}

.mc-prompt {
	font-size: $sml;
}




// ----
// Main Contact :ayout
// TODO: don't style iDs, make it more modular to allow for other forms.
// ----

#gform_fields_3 {
	//grid-template-rows: repeat(5, auto);
	// grid-template-columns: 1fr;
	// grid-auto-flow: row dense;

	// li {
	// 	grid-column: 1;
	// }

	@include bp(small) {
		display: grid;
		grid-column-gap: $grid-gap;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, auto);
		grid-template-areas:
				"question question"
				"name			email"
				"msg  		msg"
				"list 		list";
	}
}

#field_3_10 {
	grid-area: question;
}

#field_3_9 {
	grid-area: name;
}

#field_3_2 {
	grid-area: email;
}

#field_3_3 {
	grid-area: msg;
}

#field_3_11 {
	grid-area: list;
}

// Floats Fallback
@include grid(no) {
	.gf_left_half {
		@include bp(med) {
			input {
				width: 90%;
			}
		}

		float:left;
		clear:left !important;

		@include bp(med) {
			margin-bottom: $h2;
		}
	}

	.gf_right_half {
		float:right;
		clear:right !important;
		margin-bottom: $h2;
	}
}
