
// -----
// Form styles
// -----

label, select {
	display: block;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
	width: 100%;
	height: 200px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {
	padding: $sml/2 $base/2;
	background: $white;
	color: $body-text-clr;
	outline: 5px solid rgba($accent-vlight, 0);
	border: 1px solid $accent-light;
	font-family: $body-font;
	font-weight: 300;
	border-radius: 2px;
	transition: 0.2s ease all;

	&:focus {
		// border-color: $accent-med;
		outline: 5px solid $accent-light;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="email"],
input[type="reset"],
input[type="text"] {
	width: 100%;
	max-width: 400px;
}

input[type="submit"],
button {
	@include button($accent-dark);
	cursor: pointer;
	-webkit-appearance: none;
}

select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

input[type="file"] {
	font-size: $xsml;
	background-color: $accent-vlight;
	padding: $xsml $sml;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $accent-border;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Formidable

.frm_message,
.frm_error_style {
	padding: $grid-gap;
	background: $white;
	border: 5px solid $l-teal;

	p {
		margin-top: 0;
	}
}

.frm_hidden {
	@include visually-hidden;
}

.frm_submit {
	margin-top: $grid-gap;
}

.frm_error {
	font-size: $sml;
	color: $alert-danger;
}

.frm_required {
	color: $alert-danger;
}

.frm_primary_label {
	font-weight: $font-weight-strong;
	margin-bottom: $sml / 2;
	margin-top: $grid-gap;
}

.frm_description {
	font-size: $sml;
	margin-bottom: $sml;
}

.frm_form_fields > fieldset {
	padding: 0;
	border: 0;
	display: flex;
	flex-direction: column;
}

.frm_half {
	width: calc(50% - #{$grid-gap/2});
	display: inline-block;
}

.frm_first {
	margin-right: $grid-gap;
}

.frm_full {
	width: 100%;
}


.frm_checkbox > label {
	display: flex;
	align-items: center;
	margin-bottom: $sml / 2;
	margin-top: $sml / 2;
	> input {
		margin-right: $sml;
	}
}


// Mailchimp

.mc-form {
	display: flex;
}

.mc-signup {
	margin-top: $h4;
	padding: $grid-gap/2;

	@include bp(small) {
		padding: 0;
	}

	.email {
		padding: $sml $base;
		margin-bottom: $sml;
		text-align: center;

		@include bp(small) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			text-align: left;
			margin-bottom: 0;
		}

	}

	.button {
		@include button($accent-med);

		@include bp(small) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	}
}

.mc-prompt {
	font-size: $sml;
}


// ----
// Comments
// ----

.comment-box {
	margin-top: $h3;
}

.comments-header {
	margin-bottom: $grid-gap;
}

.comments-title {
	margin-top: 0;
}

.comments-note {
	@include meta($text-med);
}

.comments {
	list-style-type: none;
	padding: 0;
	margin-top: $grid-gap;

	> li {
		padding-left: $grid-gap;
		padding-right: $grid-gap;
		border-left: 5px solid $accent-med;

		&.-reply {
			border-left: 5px solid $accent-light;
		}

		border-top: 1px solid $accent-light;
		border-right: 1px solid $accent-light;
		border-bottom: 1px solid $accent-light;

		background-color: $white;
		margin-bottom: $grid-gap;
	}
}

.comment-author-info {
	margin-top: $h5;
	display: flex;
	align-items: center;

	border-bottom: 1px solid $accent-light;
	padding-bottom: $sml;
}

.comment-author-name,
.comment-content p {
	font-size: $sml;
}

.comment-author-name {
	margin-top: 0;
	font-weight: $font-weight-strong;
}

.comment-author-img {
	height: $h4;
	width: auto;
	padding-right: $xsml;
}

.comment-reply-btn {
	padding: 0;
	border: 0;
	background: transparent;
	font-size: $sml;
	margin-top: $sml;
	display: inline-flex;
	color: $link-color;
}

.js .reply-form {
	height: 0;
	opacity: 0;
	transition: 0.2s ease all;
	overflow: hidden;
}

.form-comment {
	margin-bottom: $grid-gap;
}

.form-user-info {
	display: grid;
	grid-template-columns: 1fr;

	@include bp(small) {
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: $grid-gap/2;
	}
}

.btn-reset {
	font-style: italic;
	border: 0;
	background-color: transparent;
	color: $accent-med;
	&:hover {
		background-color: inherit;
		color: inherit;
	}
}


