
@mixin icon($fill, $hover: $accent-med, $size: $h2, $inline: false) {
	width: $size;
	height: $size;
	fill: $fill;

	@if $inline {
		display: inline-block;
	} @else {
		display: block;
		margin: 0 auto;
	}

	a &:hover {
		fill: $hover;
	}
}

.shape {
	width: 100%;
	fill: $accent-dark;
}

.icon {
	@include icon($accent-med, $hover: $accent-dark);
}

.icon-rotate {
	@include icon($accent-vlight);
}

.icon-inline {
	@include icon($fill: $accent-med, $hover: $accent-dark, $size: $h4, $inline: true);
}

.project-launch-btn {

}

.project-launch-icon {

}