/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: $font-weight-base;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
	font-size: $contain;
	line-height: $line-height-base;
	font-weight: $font-weight-base;

	@include bp(small) {
		font-size: $contain-sm;
	}

	@include bp(med) {
		font-size: $contain-md;
	}

	@include bp(large) {
		font-size: $contain-lg;
	}
}

body {
	font-style: normal;
	color: $text-dark;
	font-size: $base;
	font-family: $body-font-fallback;

	.wf-active & {
		font-family: $body-font;
	}
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-hover;

		// .main-content & {
		// 	&:not(.btn) {
		// 		background-color: $accent-vlight;
		// 	}
		// }
	}

	&:active {

	}

	// mobile tap color
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

	p &,
	li & {
		border-bottom: $accent-border;
	}
}



h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
	line-height: $line-height-sm;
}

	.wf-active {
		h1, h2 {
			font-family: $heading-font;
		}

		h3, h4, h5, h6 {
			font-family: $body-font;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: $heading-font-fallback;
		font-weight: $heading-font-weight;

		a {
			font-weight: $heading-font-weight;
		}
	}


h1 {
	font-size: $h2;

	@include bp(small) {
		font-size: $h1;
	}

	margin-top: $h3;

}

h2 {
	font-size: $h2;
	margin-top: $h2;
}

h3 {
	font-size: $h3;
	margin-top: $h3;
}

h4 {
	font-size: $h4;
	margin-top: $h3;
}

h5 {
	font-size: $h5;
	margin-top: $h3;
	@include upperspace;

	.site-main & {
		color: $text-med;
	}

	font-weight: $font-weight-base;
}

h6 {
	font-size: $h6;
	margin-top: $h4;
}

ul, ol {
	padding-left: $grid-gap;
}

p {
	font-size: $base;
	margin-top: $base;
	margin-bottom: 0;
}

small {
	font-size: $sml;
	line-height: $line-height-sm;
	color: $text-med;
}

strong {
	font-weight: normal;
	font-weight: $font-weight-strong;
}

blockquote {
	margin-left: -$grid-gap;
	margin-right: 0;

	padding-left: $grid-gap;
	padding-right: $grid-gap;
	padding-top: $base;
	padding-bottom: $base;

	background-image: linear-gradient(to bottom right, $white, $accent-vlight);
  font-style: italic;

	& > p:first-child {
		margin-top: 0;
	}

	.special {
		color: $accent-med;
	}
}

