

@keyframes scroll-page {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-80%);
	}
}


@keyframes back-forth {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	80% {
		// left: -2px;
		// transform: skewX(25deg);
	}
	100% {
		left: 0;
	}
}







// SVG

svg {
	max-width: 100%;
}

.site-logo svg {
	fill: $accent-light;
}

// body {
// 	background-color: #303030;
// }

.character {
	max-width: 150px;
}

.eyes {
	fill:#fff;
}

.body {
	fill:#27aae1;
}

.hand {
	fill: #1b75bc;
}

.mouth-nose,
.pupils {
	fill: #231f20;
}

.accents {
	fill: none;
	stroke: #1b75bc;
	stroke-miterlimit: 10;
}

.teeth {
	fill: white;
}


// Blog Character

.blog  {
	// background: $accent-med;
	background-image: linear-gradient(to bottom right, $accent-med, $yellow);

	.main-header {
		background-image: linear-gradient(to bottom right, $l-teal, $yellow);
	}
}

.blog-character {
	// margin-bottom: -50px;
	padding-left: $grid-gap;
	padding-right: $grid-gap;
}

.bc-main {
	left: -300px;
}

.bc-bubble {
	opacity: 0; // TODO have a way to hide them initially
	// fill: $accent-vlight;
}

.bc-glare,
.bc-eye-white {
	fill: $white;
}

.bc-eyeball,
.bc-inner-mouth {
	fill: black;
}

.bc-body,
.bc-mouth,
.bc-eyelid {
	fill: #27aae1;

}

.text {
	fill: $accent-light;
	display: none;
}