.ls-left-hand,
.tease-project {
	@include accelerate(transform);
}

@keyframes rotate-text-color {
	0% {
		color: $accent-vdark;
	}
	10% {
		color: $alert-danger;
	}
	30% {
		color: $accent-med;
	}
	50% {
		color: $accent-dark;
	}
	70% {
		color: $alert-danger;
	}
	90% {
		color: $accent-med;
	}
	100% {
		color: $accent-dark;
	}
}

@keyframes scroll-page {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-80%);
	}
}


@keyframes back-forth {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0;
	}
}


.fancy-hover {
	@include bp(large) {
		@include accelerate(transoform);
		transform-origin: 50% 50%;
		transition: 0.3s transform ease;
		&:hover {
			transform: scale(1.025);
		}
	}
}
