

@keyframes scroll-page {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-80%);
	}
}


@keyframes back-forth {
	0% {
		left: 0;
	}
	50% {
		left: 10px;
	}
	100% {
		left: 0;
	}
}


