


// ----
// Typography
// ----


// Uppercase and letterspacing.

@mixin upperspace {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.upperspace {
	@include upperspace;
}


// Small, sans-serif text.
// Used primarily for forms and complimentary information.

.meta-light {
	@include meta($text-light);
}





// ----
// Visual Design
// ----


// Change background and text color.

@mixin rotate($text: $accent-vlight, $bkgd: $accent-dark, $link-clr: $accent-vlight) {
	background-color: $bkgd;
	color: $text;

	a,
	a:link,
	a:visited {
		color: $link-clr;
	}

	a:hover {
		color: darken($link-clr, 10%);
	}

	a:active {
		color: darken($link-clr, 20%);
	}
}




// ----
// Content
// ----

.bordered {
	border: 5px solid $accent-light;
}



// ----
// Utlities
// ----

.invisible {
	display: none;
}

.visually-hidden,
.screen-reader {
		@include visually-hidden;
}









// Typography helpers

.meta {
	@include meta;
}

.special,
a.special {
	color: $accent-dark;
}

.strike {
	position: relative;
}

	.strike:after {
		border-bottom: 2px solid $accent-med;
		position: absolute;
		content: '';
		right: 0;
		left: 0;
		top: 55%;
	}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}



// Spacers

.spacer-top {
	margin-top: $base;
}

.spacer-left {
	margin-left: $base;
}

.spacer-right {
	margin-right: $base;
}

.spacer-bot {
	margin-bottom: $base;
}

.rm-margin {
	margin: 0;
}



// This can be used to add a border around a title, like this:

//  <div class="decor-wrap">
//      <h4 class="decor"><span>{{blck.list_title}}</span></h4>
//  </div>

// .decor {
//     @include meta;
//     border-bottom: $accent-border;
//     position:relative;

//     span {
//         position: relative;
//         top: $sml/1.5;
//         padding: 0 $sml 0 0;
//         background-color: $body-bkgd;
//     }
// }

// .decor-wrap{
//     display: block;
//     margin: 0;
//     @include clearfix;
// }

