/*

Types of grids:
.grid-main - for main page layout:
  .main-aside (1/3)
  .main-content (2/3)

.grid-header - for image headers:
  .header-left (1/2)
  .header-right (1/2)

Modules
.-article
.


*/



@mixin main-module-layout() {
  grid-template-columns: minmax(400px, 650px);
  place-content: center;
  grid-template-areas : "header" "rail" "link" "content" "extra";

  .module-header {
    grid-area: header;
  }

  .module-link {
    grid-area: link;
  }

  .module-rail {
    grid-area: rail;
    text-align: right;
  }

  .module-content {
    grid-area: content;
  }
}

@mixin grid-module-layout {
   place-content: start;
   grid-column-gap: $grid-gap;
   grid-template-columns: 200px minmax(auto, 675px) auto;
   grid-template-areas: "link  header   ..." "rail   content  ..."; // place-content: start;

   &.-flipped {
     grid-template-columns: auto minmax(auto, 675px) 200px;
     grid-template-areas: "...  header link" "...  content rail"; // place-content: start;
   }

   .module-content-full {
     grid-column: 2 / span 2;
   }
}





// Breakpoints

$screen-sm:     520px;
$screen-md:     730px;
$screen-lg:   	1100px;
$screen-xl:   	1400px;

$grid-gap: $h4;
$rail: minmax(70px, 175px);


// Container mixin for max width

@mixin contain($size) {
  margin: 0 auto;
  max-width: $size;
}



// ----
// Site Grid
// ----


.inner-np,
.inner-pad,
.inner {
  @include contain($screen-xl);
}

.page .inner,
.single .inner,
.inner-pad {
  padding-left: $grid-gap;
  padding-right: $grid-gap;
}

// .single .inner,
// .site-header .inner {

// }




// Fallback

@include grid(no) {
	// .site-header,
	// .site-footer {
  //   @include contain($screen-lg);
	// }
	// .site-main {
  //   @include contain($screen-md);
  // }
}





// ----
// Main Content
// ----

.main-header {

  &.-text {
    padding-bottom: $grid-gap;
    margin-bottom: $grid-gap;
  }
}

.header-svg {
  display: block;
}



// Main content grid
// Comes into play if there is sidebar content

.grid-main {

  @include grid(yes) {
    display: grid;
    grid-template-areas: "content" "aside";

    @include bp(large) {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "aside content";
      grid-column-gap: $grid-gap;
    }

    .main-aside {
      grid-area: aside;
    }

    .main-content {
      grid-area: content;
    }
  }

  @include grid(no) {
    @include bp(med) {
      display: flex;

      .main-aside {
        width: calc(100% / 3);
        order: 0;
      }

      .main-content {
        width: calc(100% * 2/3);
        order: 1;
      }
    }
  }

} // .grid-main

.main-content {
  @include bp(small) {
    padding-left: $grid-gap;
    padding-right: $grid-gap;
  }
}

// ----
// Content
// ----

// Grid Layout isn't really helping here, but why not.
.grid-header {
@include bp(med) {

  @include grid(yes) {
    display: grid;
    grid-template-columns: 50% minmax(auto, 650px);
    grid-column-gap: $grid-gap;
  }
  @include grid(no) {
    display: flex;
    justify-content: space-between;
    > * {
      width: 48%;
    }
  }

}
}

.header-right,
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-right,
.header-left {
  // display: flex;
  // flex-direction: column;
}





// ----
// Post Tease Grid
// ----


@include grid(yes) {
  @include bp(med) {
    .grid-tease {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: $grid-gap;
    }

    .grid-loop {
      display: grid;
      grid-row-gap: $grid-gap;
      grid-column-gap: $grid-gap;
      grid-template-columns: repeat(2, 50%); // TODO flexbox fallback
    }
  }
}

// Fallback
@include grid(no) {
  @include bp(small) {
    .grid-tease {
      display: flex;
      .tease-thumb {
        width: 40%;
        padding-right: $grid-gap;
      }
      .tease-content {
        width: 60%;
      }
    }
  }
  @include bp(med) {
    .post {
      display: flex;
      margin-bottom: $grid-gap;
    }
    .tease-loop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  @include bp(large) {
    .post {
      width: 49%;
    }
    .grid-tease {
      width: 100%;
    }
  }
}




// ----
// Module
// ----


.module {
  @include grid(yes) {
    display: grid;
    grid-auto-flow: row dense;
  }

  &.-aside {
    @include grid(yes) {
      @include bp(small) {
        @include main-module-layout;
        @include grid-module-layout;
      }
    }
  }

  &.-article {
    @include bp(med) {
      padding-left: $grid-gap;
      padding-right: $grid-gap;

      @include grid(yes) {
        @include main-module-layout;
      }
    }

    @include bp(large) {
      @include grid(yes) {
        @include grid-module-layout;
      }
    }
  }
}

.module-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.module-rail {
  @include bp(large) {
    position: relative;
    margin-top: $h1;
    padding-right: $grid-gap;
    padding-left: $grid-gap / 2;
  }
}