

// Breakpoints

$screen-sm:     520px;
$screen-md:     730px;
$screen-lg:   	1100px;
$screen-xl:   	1600px;

$grid-gap: $h4;
$rail: minmax(70px, 175px);



// ----
// Grids
// ----

// Container mixin for max width

@mixin contain($size) {
  margin: 0 auto;
  max-width: $size;
}



// ----
// Site Grid
// ----

.inner {
  @include contain($screen-xl);
}


// Fallback

@include grid(no) {
	.site-header,
	.site-footer {
    @include contain($screen-lg);
	}
	.site-main {
    @include contain($screen-md);
  }
}




// ----
// Main Content
// ----

.main-header {
  &.-svg {
    background-image: linear-gradient(to top right, $accent-dark, $accent-vdark);
    border-bottom: 5px solid $accent-med;
  }

  &.-text {
    padding-left: $grid-gap;
    padding-right: $grid-gap;
    padding-bottom: $grid-gap;
    margin-bottom: $grid-gap;
    border-bottom: $accent-border;
  }
}

.main-content {
  padding-left: $grid-gap;
  padding-right: $grid-gap;

  @include bp(large) {
    padding: 0;
  }
}

.grid-content {
  @include bp(large) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $grid-gap;
  }
}

.main-aside > .widgets {
  display: grid;
  grid-auto-flow: column dense;
  align-items: center;

  @include bp(large) {
    display: block;
  }
}




// ----
// Content
// ----


.grid-header {
  background-color: $accent-dark;
  color: $text-light;
  margin-bottom: $h2;
  display: grid;
  grid-template-rows: minmax(250px, 400px);

  @include bp(med) {
    grid-template-rows: minmax(500px, 60vh);
    grid-template-columns: 50% minmax(auto, 650px);
    grid-column-gap: $grid-gap;
  }
}

.header-right,
.header-left {
  display: flex;
  flex-direction: column;
}

.header-left {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: flex-end;

  .mask {
    height: $h1*2;
    background-image: linear-gradient(transparent, $accent-dark);

    @include bp(med) {
      background-image: none;
    }
  }
}

.header-right {
  padding-top: $grid-gap;
  padding-left: $grid-gap;
  padding-right: $grid-gap;
  justify-content: center;

  @include bp(med) {
    padding-left: 0;
  }
}

.header-title {
	font-size: $h1*2;
	line-height: 0.7;
  padding-top: $grid-gap*2;

  .-image & {
    font-weight: $font-weight-strong;
    text-transform: uppercase;
    padding-left: $grid-gap;
    background-image: linear-gradient(transparent, $accent-vdark);
  }

  .-text & {
    margin-bottom: $h3;
    // margin-top: 0;
    // font-size: $h1;
    // background: $accent-vlight;
  }
}

.header-lead,
.section-lead,
.lead {
	font-size: $h4;
}

.header-intro {
  margin-bottom: $base;
}






// ----
// Post Tease Grid
// ----


.module {

  @include bp(med) {
    display: grid;
    grid-template-columns: minmax(400px,750px);
    place-content: center;
    grid-template-areas:
      "thumb"
      "header"
      "rail"
      "content"
      "extra";

    .module-header {
      grid-area: header;
    }

    .module-thumbnail {
      grid-area: thumb;
    }

    .module-rail {
      grid-area: rail;
      text-align: right;
    }

    .module-content {
      grid-area: content;
    }
  }

  @include bp(large) {
    place-content: start;
    grid-column-gap: $grid-gap;
    grid-template-columns: 200px minmax(auto,750px) auto;
    grid-template-areas:
      "thumb  header   ..."
      "rail   content  ...";
    // place-content: start;

    .module-content-full {
      grid-column: 2 / span 2;
    }
  }
}

