
@mixin visually-hidden {
  opacity: 0;
  position: absolute;
  text-indent: -99999px;
}


// ----
// Buttons/Links
// ----

// Button
@mixin button( $button-color, $text-color: $white ) {
  background: $button-color;
  font-weight: 500;
  border-radius: 2px;

  // :-/
  color: $text-color !important;

  border: 2px solid lighten($button-color, 10%);
  padding: $sml $h4;
  display: inline-block;
  font-family: $form-font;

	&:hover,
	&:focus {
		background: darken( $button-color, 10% );
		color: $text-color;
    border-color: $button-color;
	}

	&:active {
		background: darken( $button-color, 30% );
    border-color: darken( $button-color, 10%);
	}
}

// Remove link style
@mixin unstyle-link() {
  color: $body-text-clr;
  border-bottom: none;
}






// ----
// Lists
// ----

@mixin unstyle-list($remove-pm: true) {
  list-style: none;

  @if $remove-pm == true {
      padding-left: 0;
      margin-top: 0;
  }
}

@mixin horizontal-list($center: false, $margin: $base) {

  @if $center == center {
    text-align: center;
  }

  > li {
    display: inline-block;
    margin-right: $margin;

    &:last-child {
        margin-right: 0;
    }
  }
}





// ----
// Layout
// ----

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


@mixin divide-with-border($placement: bottom) {
  border-#{$placement}: $accent-border;
  padding-#{$placement}: $base;
  margin-#{$placement}: $base;
}




// ----
// Detect CSS Grid support
// ----

// https://www.smashingmagazine.com/2017/06/building-production-ready-css-grid-layout/#side-note-a-word-on-browser-support

$production: true;

@mixin grid($supports) {
  @if $supports == no {
    @supports not (grid-area: auto) {
      @content;
    }
  }
  @if $supports == yes {
    @supports (grid-area: auto) {
      @content;
    }
  }
}




// ----
// Media Queries
// ----


// http://css-tricks.com/conditional-media-query-mixins/
$MQs: true;

@mixin bp($point) {
  @if ($MQs) {
    $bp-sm: "(min-width: #{$screen-sm})";
    $bp-md: "(min-width: #{$screen-md})";
    $bp-lg: "(min-width: #{$screen-lg})";
    $bp-menu: "(min-width: #{$screen-lg})";

    @if $point == small {
        @media #{$bp-sm} { @content; }
    }
    @else if $point == med {
        @media #{$bp-md} { @content; }
    }
    @else if $point == large {
        @media #{$bp-lg} { @content; }
    }
    @else if $point == menu {
        @media #{$bp-menu} { @content; }
    }
  }
}






// ----
// Typography
// ----


@mixin meta($color: inherit) {
  font-size: $sml;
  margin: 0;
  line-height: $line-height-sm;

  @if $color {
    color: $color;
  }
}
