

// ----
// ---- Screen sizes
// ----

$screen-sm:     30rem;
$screen-md:     40rem;
$screen-lg:   	50rem;
$screen-xl:     60rem;




// ----
// ---- Colors
// ----


$dark-blue: 		#237fa9;
$light-blue: 		#86b2c6;

$grey: 				#e6e6e6;
$dark-grey: 		#3e3739;

$white: 			#ffffff;
$white-alt:  		#f4f7f9;

$l-teal: 			desaturate(#BDF2E3, 10%);
$seagreen:    #21A99C;
$green: 			#1BBF54;
$yellow: 			#FCF7D8;
$l-yellow: 			lighten($yellow, 5%);

$pink: 				#CC6698;


// Semantic variable names

$accent-vlight:		$white-alt;
$accent-light:		$grey;
$accent-med:		$light-blue;
$accent-dark:		$dark-blue;

$accent-alt: 		$pink;

$alert-danger: 		darken($pink, 20%);
$alert-warning: 	$l-yellow;
$alert-info: 		$dark-blue;
$alert-success: 	$green;

$text-dark: 		$dark-grey;
$text-med: 			darken($grey, 30%);
$text-medlight: 	lighten($text-med, 20%);
$text-light: 		$white;

$link-color:		$dark-blue;
$link-hover: 		darken($link-color, 20%);

$twitter: 			#4099FF;
$facebook: 			#3B5998;


// Components

$body-bkgd: 		$white;
$body-text-clr: 	$text-dark;

$rotate-bkgd: 		$accent-dark;
$rotate-text: 		$text-light;
$rotate-link: 		$text-light;

$table-rotate: 		lighten($alert-info, 50%);




// ----
// ---- Typography
// ----

// Rem Unit Scale

$contain-lg: 		110%;
$contain-md: 		102%;
$contain-sm: 		98%;
$contain: 			90%;

$base:  			1.1rem;

$line-height-base: 	1.5;
$line-height-sm: 	  1.3;

$xsml: 				$base*0.6;
$sml:  				$base*0.8;

$h1:  				$base*3;
$h2:  				$base*2.4;
$h3:  				$base*2;
$h4:  				$base*1.3;
$h5:  				$sml;
$h6:  				$base;



// Fonts

$serif:             'henriette', 'Georgia', serif;
$sans-serif:        'europa', 'Helvetica', serif;

$heading-font-fallback:    'Helvetica', sans-serif;

$heading-font:  $serif;
$body-font: 		$sans-serif;
$quote-font: 		$sans-serif;
$nav-font: 			$sans-serif;
$form-font: 		$sans-serif;
$lead-font: 		$sans-serif;

$font-weight-base:    400;
$font-weight-strong:  700;




// ----
// ---- Utilities
// ----

$accent-border: 		1px dotted $accent-med;
$accent-border-thick: 	5px solid $accent-light;

// Z-Index Scale
$zbase: 			1;
$zback: 			$zbase+1;
$zmid: 				$zbase+2;
$ztop: 				$zbase+3;

