

.main-header {

  svg {
		border-bottom: 5px solid $accent-med;
		background-color: $accent-vdark;
	}
}


// SVG

svg {
	max-width: 100%;
}

.site-logo svg {
	fill: $accent-vdark;
}


// Default thumb

.default-thumb,
.code-thumb,
.status-thumb,
.media-thumb {
	background-image: linear-gradient(to right, $accent-light, darken($accent-light, 10%));
	display: block;
}

.code-thumb path,
.default-thumb rect,
.status-thumb path,
.media-thumb {
	fill: $white;
	stroke: darken($accent-light, 10%);
}


// Llama

$llamaColor: cornsilk;
$strokeWidth: 1.75;
$strokeColor: slategray;
$groundColor: mediumseagreen;
$skyColor: skyblue;
$eyeFill: url(#eye-open-gradient);
$eyeCloseFill: url(#eye-close-gradient);
$breakpoint: 500px;


// ----
// Llama
// ----

#llama {
	overflow: visible;
	fill: $llamaColor;
	stroke-width: $strokeWidth;
	stroke: $strokeColor;
	transform: scale(-1, 1);

	& .eye,
	& .jaw,
	& .tail {
		@include accelerate(transform);
	}

	.nostril {
		fill: $strokeColor;
	}

	.eye {
		stroke-width: 0;
		fill: $eyeFill;
	}

	// ----
	// Animations
	// ----

	.flicking,
	.chewing {
		transform-box: fill-box; // For Firefox
	}

	.flicking {
		animation-name: flick;
		animation-duration: 5s;
		animation-iteration-count: 20;
		animation-delay: 3s;
	}

	.chewing {
		animation-name: chew;
		animation-duration: 0.75s;
		animation-iteration-count: 20;
	}

	.blinking {
		animation-name: blink;
		animation-duration: 5s;
		animation-iteration-count: 20;
		animation-delay: 3s;
	}
}

@keyframes blink {
	0% {
		fill: $eyeCloseFill;
		transform: translateY(-1px);
	}
	30% {
		fill: $eyeFill;
	}
	100% {
		fill: $eyeFill;
	}
}

@keyframes chew {
	0% {
		transform: rotate(10deg);
		transform-origin: 0 50%;
	}
	100% {
		transform: rotate(-1deg);
		transform-origin: 100% 100%;
	}
}

@keyframes flick {
	10%,
	70% {
		transform: rotate(-20deg);
		transform-origin: 100% 100%;
	}
	20% {
		transform: rotate(50deg);
		transform-origin: 100% 100%;
	}
	100% {
		transform: rotate(0);
	}
}

// Character 1

.c1-main {
	visibility: hidden;
	opacity: 0;
}

.c1-eyes {
	fill:#fff;
}

.c1-body {
	fill:#27aae1;
}

.c1-hand {
	fill: #1b75bc;
}

.c1-mouth-nose,
.c1-pupils {
	fill: #231f20;
}

.c1-accents {
	fill: none;
	stroke: #1b75bc;
	stroke-miterlimit: 10;
}

.c1-teeth {
	fill: white;
}




// ----
// Blog Character
// ----


.blog-character {
	padding-left: $grid-gap;
	padding-right: $grid-gap;
}

.bc-text {
	fill: rgba($accent-vdark, 0.8);
}

.bc-main {
	left: -300px;
}

.bc-bubble,
.bc-text {
	opacity: 0; // TODO have a way to hide them initially
	visibility: hidden;
	// transform: scale(0.5);
	// fill: $accent-vlight;
}

.bc-glare,
.bc-eye-white {
	fill: $white;
}

.bc-eyeball,
.bc-inner-mouth {
	fill: black;
}

.bc-body,
.bc-mouth,
.bc-eyelid {
	fill: #27aae1;

}

// Name

.lara-name {
	path {
		stroke: $accent-dark;
		stroke-width: 1px;
	}
}

// Small character 1


// ----
// SVG
// ----

.lara-character {
	max-height: 450px;
	@include bp(large) {
		max-height: none;
	}
}

@keyframes wave {
	0% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(10deg);
	}
}

.ls-hand-left {
	@include accelerate(transform);
	transform-box: fill-box; // For Firefox

	animation: wave 0.3s infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	transform-origin: 50% 90%;
}

.ls-skin {
	fill: #fbd3c8;
}

.ls-clothes {
	fill: $accent-med;
}
