

.main-header {

  &.-svg {
		margin-top: -$h1*2;
		border-bottom: 5px solid $accent-med;
		background-image: linear-gradient(to bottom right, $l-teal, $white);
	}
}


// SVG

svg {
	max-width: 100%;
}

.site-logo svg {
	fill: $accent-vdark;
}

.social-svg {

}



// Character 1

.c1-main {
	// transform: translateY(150);
}

.c1-eyes {
	fill:#fff;
}

.c1-body {
	fill:#27aae1;
}

.c1-hand {
	fill: #1b75bc;
}

.c1-mouth-nose,
.c1-pupils {
	fill: #231f20;
}

.c1-accents {
	fill: none;
	stroke: #1b75bc;
	stroke-miterlimit: 10;
}

.c1-teeth {
	fill: white;
}




// ----
// Blog Character
// ----


.blog-character {
	padding-left: $grid-gap;
	padding-right: $grid-gap;
}

.bc-text {
	fill: rgba($accent-vdark, 0.8);
}

.bc-main {
	left: -300px;
}

.bc-bubble,
.bc-text {
	opacity: 0; // TODO have a way to hide them initially
	visibility: hidden;
	// transform: scale(0.5);
	// fill: $accent-vlight;
}

.bc-glare,
.bc-eye-white {
	fill: $white;
}

.bc-eyeball,
.bc-inner-mouth {
	fill: black;
}

.bc-body,
.bc-mouth,
.bc-eyelid {
	fill: #27aae1;

}

// Name

.lara-name {
	path {
		stroke: $accent-dark;
		stroke-width: 1px;
	}
}

// Small character 1


// ----
// SVG
// ----

.lara-character {
	// transform: translateX(-130%);
}

.ls-skin {
	fill: #fbd3c8;
}

.ls-clothes {
	fill: $accent-med;
}