


// ----
// ---- Colors
// ----


// $dark-blue: 		#0b5c84;
$dark-blue: 	#1b75bc;
$light-blue: 		#27A9E0;
$vlight-blue:   #E0E6F2;

$grey: 				  #777;
$dark-grey: 		#272727;

$white: 			  #ffffff;
$white-alt:  		#f4f7f9;

$maroon: 			#59405C;
$l-teal: 			desaturate(#BDF2E3, 10%);
$seagreen:    #21A99C;
$green: 			#1BBF54;
$yellow: 			#FCF7D8;
$l-yellow: 		lighten($yellow, 5%);
$orange: 			#FC625D;

$pink: 				#CC6698;


// Semantic variable names

$accent-vlight:		$white-alt;
$accent-light:		$vlight-blue;
$accent-med:		  $light-blue;
$accent-dark:		  darken($dark-blue,10%);
$accent-vdark:		#242F4A;

$accent-alt: 		$pink;

$alert-danger: 		darken($pink, 20%);
$alert-warning: 	$l-yellow;
$alert-info: 			$dark-blue;
$alert-success: 	$green;

$text-dark: 		$accent-vdark;
$text-med: 			$grey;
$text-medlight: lighten($text-med, 20%);
$text-light: 		$white;

$link-color:		darken($accent-med, 10%);
$link-hover: 		$accent-vdark;



// Components

$body-bkgd: 			#F4F6FA;
$body-text-clr: 	$text-dark;

$rotate-bkgd: 		$accent-dark;
$rotate-text: 		$text-light;
$rotate-link: 		$text-light;

$table-rotate: 		lighten($alert-info, 50%);




// ----
// ---- Typography
// ----

// Rem Unit Scale

$contain-lg: 		110%;
$contain-md: 		102%;
$contain-sm: 		98%;
$contain: 			90%;

$base:  			1.1rem;

$line-height-base: 	1.5;
$line-height-sm: 	  1.3;

$xsml: 				$base*0.6;
$sml:  				$base*0.8;

$h1:  				$base*3;
$h2:  				$base*2.4;
$h3:  				$base*2;
$h4:  				$base*1.3;
$h5:  				$sml;
$h6:  				$base;



// Fonts

$serif:             'henriette';
// $sans-serif:        'adelle-sans';
// $sans-serif: 				'Interface', Arial, sans-serif;
$sans-serif: 				'adelle-sans', Arial, sans-serif;

$heading-font-fallback: 'Helvetica', sans-serif;
$body-font-fallback:    'system', sans-serif;

$heading-font:  $sans-serif;
$body-font: 		$sans-serif;
$quote-font: 		$sans-serif;
$nav-font: 			$sans-serif;
$form-font: 		$sans-serif;
$lead-font: 		$sans-serif;

$font-weight-base:    400;
$font-weight-strong:  700;

$heading-font-weight: $font-weight-strong;



// ----
// ---- Utilities
// ----

$accent-border: 		1px solid rgba($accent-med, 0.4);
$accent-border-thick: 	5px solid $accent-light;

// Z-Index Scale
$zbot: 				-1;
$zbase: 			0;
$zback: 			$zbase+1;
$zmid: 				$zbase+2;
$ztop: 				$zbase+3;
$ztiptop: 		$zbase+4;

