<svg class="{{class}}" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>thumbtack icon</title>
<path d="M7.5 13.5v-7c0-0.281-0.219-0.5-0.5-0.5s-0.5 0.219-0.5 0.5v7c0 0.281 0.219 0.5 0.5 0.5s0.5-0.219 0.5-0.5zM18 19c0 0.547-0.453 1-1 1h-6.703l-0.797 7.547c-0.031 0.25-0.234 0.453-0.484 0.453h-0.016c-0.25 0-0.453-0.172-0.5-0.422l-1.188-7.578h-6.312c-0.547 0-1-0.453-1-1 0-2.562 1.937-5 4-5v-8c-1.094 0-2-0.906-2-2s0.906-2 2-2h10c1.094 0 2 0.906 2 2s-0.906 2-2 2v8c2.063 0 4 2.438 4 5z"></path>
</svg>